body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%) no-repeat center center fixed;

}
#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:x-large;
}

.card{
    margin-top: 6rem;
}        
