<!DOCTYPE html>
<html lang="en">
<head>
  <title>Outing Application - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'students/OutingApp.css' %} " rel="stylesheet"> <!--Layout.css-->
  <script src = "{% static 'students/OutingApp.js' %} "></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'students:student_home' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'students:student_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="#"><span><i class="fa fa-map-marker"></i></span> &nbsp;&nbsp; Outing Application</a>
        <a href="{% url 'students:attendance_history' %}"><span><i class="fa fa-list" ></i></span> &nbsp;&nbsp; Attendance History</a>
        <a href="{% url 'students:outing_history' %}"><span><i class="fa fa-history" ></i></span> &nbsp;&nbsp; Outing History</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'django_auth:logout' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>

    </div>


    <div class="container main-container">

        <div class="table-container profile">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"><h3>Non-Local Outing Application</h3></th>
                        </tr>
                    </thead>
                    <form method="POST" action="{% url 'students:outing_app' %}">
                    
                    {% csrf_token %}

                    {% if messages %}
                                   
                    {% for message in messages %}
                         <script>
                              alert('{{message}}');
                         </script>
                    {% endfor %}
                         
                    {% endif %}
                        <tbody id="tbody">
                            <tr>
                                <td class="field">From Date</td>
                                <td class="field-item"><input type="date" name="fromDate" class="indata" id="fromDateField" min='1899-01-01' required></td>
                            </tr>
                            <tr>
                                <td class="field">From Time</td>
                                <td class="field-item"><input type="time" name="fromTime" class="indata" required></td>
                            </tr>
                            <tr>
                                <td class="field">Return Date</td>
                                <td class="field-item"><input type="date" name="toDate" class="indata" id="toDateField" min='1899-01-01' required></td>
                            </tr>
                            <tr>
                                <td class="field">Return Time</td>
                                <td class="field-item"><input type="time" name="toTime" class="indata" required></td>
                            </tr>
                            <tr>
                                <td class="field">Purpose of Visit</td>
                                <td class="field-item"><input type="text" placeholder="Purpose of Visit" name="purpose" class="indata" required></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;"><input type="submit" id="bbs" class="btn-success"></td>
                            </tr>
    
                        </tbody>
                    </form>

                </table>



        </div>
    </div>


</body>
</html>