{% extends 'officials/base_officials.html' %}

{% block title %}Outing History{% endblock title %}


{% block content %}
<h2 class="text-center">Outing History</h2>
<hr />

<h4 class="ml-4">Upcoming Outings</h4>
<div class="overflow-auto p-3">
  <table class="table table-hover table-muted table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>From</th>
        <th>To</th>
        <th>Purpose of Visit</th>
        <th>Permission</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for outing in outing_list %}
        {% if outing.is_upcoming %}
          <tr>
            <td>{{ outing.id }}</td>
            <td nowrap>{{ outing.fromDate }}</td>
            <td nowrap>{{ outing.toDate }}</td>
            <td>{{ outing.purpose }}</td>
            <td
              {% if outing.permission == 'Pending' %}
                class="text-primary"
              {% endif %}
              {% if outing.permission == 'Granted' %}
                class="text-success"
              {% endif %}
              {% if outing.permission == 'Rejected' %}
                class="text-danger"
              {% endif %}
            >
              {{ outing.permission }}
            </td>
            <td nowrap>
              {% if outing.is_editable %}
                <a href="{% url 'students:outing_edit' outing.id %}" target="_blank" class="btn btn-primary">Edit</a>
              {% endif %}
              <form action="{% url 'students:outing_delete' outing.id %}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete outing {{outing.id}}?');">{% csrf_token %}
                <input type="submit" class="btn btn-danger ml-3" value="Delete" />
              </form>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

<h4 class="ml-4">Past Outings</h4>
<div class="overflow-auto p-3">
  <table class="table table-hover table-muted table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>From</th>
        <th>To</th>
        <th>Purpose of Visit</th>
        <th>Permission</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for outing in outing_list %}
        {% if not outing.is_upcoming %}
          <tr>
            <td>{{ outing.id }}</td>
            <td nowrap>{{ outing.fromDate }}</td>
            <td nowrap>{{ outing.toDate }}</td>
            <td>{{ outing.purpose }}</td>
            <td
              {% if outing.permission == 'Pending' %}
                class="text-primary"
              {% endif %}
              {% if outing.permission == 'Granted' %}
                class="text-success"
              {% endif %}
              {% if outing.permission == 'Rejected' %}
                class="text-danger"
              {% endif %}
            >
              {{ outing.permission }}
            </td>
            <td nowrap>
              <form action="{% url 'students:outing_delete' outing.id %}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete {{stud.name}}?');">{% csrf_token %}
                <input type="submit" class="btn btn-danger ml-3" value="Delete" />
              </form>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
