<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"><!--Datatables CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %}" rel="stylesheet"> <!--Layout.css-->
  <script src = "{% static 'students/student-home.js' %}"></script>

  <style>
    .profile{
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .profile th{
        border: none !important;
    }
  </style>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT AP - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'students:student_home' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'students:outing_app' %}"><span><i class="fa fa-map-marker"></i></span> &nbsp;&nbsp; Outing Application</a>
        <a href="{% url 'students:attendance_history' %}"><span><i class="fa fa-list" ></i></span> &nbsp;&nbsp; Attendance History</a>
        <a href="{% url 'students:outing_history' %}"><span><i class="fa fa-history" ></i></span> &nbsp;&nbsp; Outing History</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'institute:index' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>

    </div>


    <div class="container main-container">
        <p style="text-align: center; font-size: large;">Hello <b>{{user_details.name}}</b>!</p>

        <div class="row card-container">
            
            <div class="col-md">
                <div class="card" id="present" >
                    <div class="row">
                        <div class="col-8">
                            <span class="row atttext">Number of days present.</span>
                            <span class="row attnum">{{pres}}</span>
                        </div>
                        <div class="col-4">
                            <span class="atticon"><i class="fa fa-user-plus" ></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card" id="absent" >
                    <div class="row">
                        <div class="col-8">
                            <span class="row atttext">Number of days absent.</span>
                            <span class="row attnum">{{abse}}</span>
                        </div>
                        <div class="col-4">
                            <span class="atticon"><i class="fa fa-user-times" ></i></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md">
                <div class="card" id="comps" >
                    <div class="row">
                        <div class="col-8">
                            <span class="row atttext">Number of complaints.</span>
                            <span class="row attnum">{{complaints|length}}</span>
                        </div>
                        <div class="col-4">
                            <span class="atticon"><i class="fa fa-font-awesome" ></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="table-container profile">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center" style="background-color: darkgray;">Your Details</th>
                                </tr>
                            </thead>
        
                            <tbody id="tbody">
                                <tr>
                                    <td class="field">Name</td>
                                    <td class="field-item">{{user_details.name}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Registration No.</td>
                                    <td class="field-item">{{user_details.regd_no}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Roll No.</td>
                                    <td class="field-item">{{user_details.roll_no}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Year</td>
                                    <td class="field-item">{{user_details.year}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Branch</td>
                                    <td class="field-item">{{user_details.branch}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Contact Number</td>
                                    <td class="field-item" id="phone-field">{{user_details.phone}}</td>
                                </tr>
                                <tr>
                                    <td class="field">e-Mail ID</td>
                                    <td class="field-item" id="mail-field">{{user_details.email_id}}</td>
                                </tr>
                                <tr>
                                    <td class="field">Address</td>
                                    <td class="field-item" id="address-field">{{user_details.address}}</td>
                                </tr>
        
        
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table-container">
                    <div class="container" id="complaints-wrapper">
                        <h2 style="text-align: center;">Complaints Registered</h2> <br>
                        <table class="table table-hover table-dark table-striped" id="complaints_table" >
                            <thead>
                                <tr>
                                    <th class="text-center">Sl. No</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Complainee</th>
                                    <th class="text-center">Summary</th>
                                    <th class="text-center">Date Registered</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for item in complaints %}
                                    <tr>
                                        <td class="text-center">{{forloop.counter}} </td>
                                        <td class="text-center">{{item.type}}</td>
                                        <td class="text-center">{{item.complainee}}</td>
                                        <td class="text-center">{{item.summary}}</td>
                                        <td class="text-center">{{item.date}}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center"> No complaints registered! </td>
                                    </tr>                           
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#complaints_table').DataTable({
                    "pageLength": 6,
                    "lengthChange": false,
                    "filter":false
                });
    
                
            } );
        </script>



</body>
</html>