{% extends 'officials/base_public_forms.html' %}
{% block title %}{{ form_title }} - Hostel Management System{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="card-body text-center">
	We've sent you an eMail with a link to reset your password and further instructions. <br><span class="text-danger">Please check your eMail inbox.</span>
</div>
<div class="card-footer text-center p-4">
	<a href="{% url 'django_auth:login' %}" class="btn btn-warning px-4 py-2">Login</a>
</div>
{% endblock content %}