{% extends 'officials/base_public_forms.html' %}
{% block title %}{{ form_title }} - Hostel Management System{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% if validlink %}
<form method="post">
	<div class="card-body">
			{% csrf_token %}
			{{ form|crispy }}
	</div>
	<div class="card-footer text-center p-4">
		<button type="submit" class="btn btn-primary px-4 py-2">{{form_title}}</button>
	</div>
</form>
{% else %}
<div class="card-body">
	<div class="alert alert-danger text-center">
		The password reset link was invalid, possibly because it has already been used. <br>Please request a new password reset.
	</div>
</div>
{% endif %}
{% endblock content %}