{% extends 'django_auth/mail_template.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
<p>Tap the button below to reset your account password. </p>
<a href="{{ protocol }}://{{ domain }}{% url 'django_auth:password_reset_confirm' uidb64=uid token=token %}" target="_blank" class="btn">Reset Password</a>
<p>If that doesn't work, copy and paste the following link in your browser:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'django_auth:password_reset_confirm' uidb64=uid token=token %}" target="_blank">{{ protocol }}://{{ domain }}{% url 'django_auth:password_reset_confirm' uidb64=uid token=token %}</a></p>
{% endblock content %}
                

{% block footer %}
You've received this email because we received a request for password reset for your account. If you didn't request reset password you can safely ignore or delete this email.
{% endblock footer %}