body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%) no-repeat center center fixed;    


}
#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:xx-large;
}

.container{
    height: 100%;
    padding-top: 200px;
    align-content: center;
    justify-content: center;
    
}
    
.card{
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}        
    
.card-header h3{
    color: white;
}
    
.socialicon{
    position: absolute;
    right: 20px;
    top: -45px;
}
    
.input-group-prepend span{
    width: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
    
.form-control{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
}
.form-control:focus {
    outline: none;
    border: none;
    box-shadow:  0 0 6px rgb(241, 198, 105);
}

input:active{
    box-shadow: 0 0 2px 2px rgba(245, 211, 138, 0.568);
}

    
.remember{
    color: white;
}
    
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login-btn{
        justify-content: center;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
    
.login_btn:hover{
    color: black;
    background-color: white;
}
    
.links{
    color: cornflowerblue;
    transition: 0.3s;
}
.links:hover{
    color:rgb(194, 194, 194);
}
    
.links a{
    margin-left: 4px;
}