<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Reset - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> <!--Lobster-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %} " rel="stylesheet"> <!--attendance.css-->

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-12 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>   
   </nav>


    
    <br> <br> <br> <br>
    <div class="container" style="border: 1.5px solid #a1a1a1; border-radius: 15px; padding: 30px;">

        <div class="table1-container" style="padding: 20px; ">

            <h1 style="text-align: center;">Reset Password</h1>

            <br><br>
                <form method="POST" action="{% url 'authenticate:reset_password' %}">
                {% csrf_token %}

                {% if messages %}
                                   
                {% for message in messages %}
                     <script>
                          alert('{{message}}');
                     </script>
                {% endfor %}
                     
                {% endif %}

               <div class="row">
                <div class="col-sm-6 text-center ">
                    <label for="curr-pass"><strong> Current Password :</strong></span>
                </div>
                <div class="col-sm-4 form-group">
                    <input type="password" id="curr-pass" class="form-control w-75" name="curr-pass" placeholder="Current Password"required/>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 text-center ">
                    <label for="curr-pass"><strong> New Password :</strong></span>
                </div>
                
                <div class="col-sm-4 form-group">
                    <input type="password" id="new-pass" class="form-control w-75" name="new-pass" placeholder="Set New Password"  oninput="checkPassword()" autocomplete="off" required/>
                </div>
                </div>
                <div class="row">
                <div class="col-sm-6 text-center ">
                    <label for="curr-pass"><strong> Confirm  Password :</strong></span>
                </div>
                <div class="col-sm-4 form-group">
                    <input type="password" id="conf-pass" class="form-control w-75" name="conf-pass" placeholder="Confirm New Password" oninput="checkPassword()" autocomplete="off" required/>
                    <small class="ml-2" id="con-help" style="display: none;">Passwords don't match</small>
                </div>
                </div>
                <div class="text-center from-group">
                   <input type="submit" name="submit" class="btn-success subbtn" value ="submit"id="sub-btn" style="border: none; border-radius: 10px; height: 2.5em;width:auto; padding: 0.5em;  transition: 0.7s;">
               </div>
               </form>
            </div>

        </div>

              <script>

          function checkPassword() {
               let pass = document.getElementById('new-pass');
               let confirm = document.getElementById('conf-pass');
               let help = document.getElementById('con-help');
               let submit = document.getElementById('submit');

               if(pass.value != confirm.value){
                    help.style.display = 'block';
                    submit.disabled = true;
               }
               else{
                    help.style.display = 'none';
                    submit.disabled = false;
               }

          }
      </script>



    </div>



</body>
</html>


