<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> <!--Lobster-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {% load static %}
  <link href="{% static 'authenticate/SignUp1.css' %}" rel="stylesheet"> 
  
</head>

<body>
    <nav class="navbar fixed-top" id="topnav">
         <div></div>
          <div class="justify-content-center">
            <span style="color:darkorange; font-family: 'Lobster', cursive;" id="title">Hostel Management System</span>
          </div>
          <div>
          </div>
    </nav>


      <div class="container ">
          <div class="d-flex justify-content-center">
               <div class="card">
                    <div class="card-header ">
                         <h3>Sign in</h3>
                    </div>
                    <div class="card-body">
                         <form class="form-horizontal" action="{% url 'authenticate:signup' %}" method="POST">
                          {% csrf_token %}
                              
                              {% if messages %}
                                   
                                   {% for message in messages %}
                                        <p class="text-danger"> {{message}} </p>
                                   {% endfor %}
                                        
                              {% endif %}
               
                              <div class="form-group">
                                   <label for="rollno" class="cols-sm-2 control-label">Registration No./Employee ID :</label>
                                   <div class="cols-sm-10">
                                        <input type="text" class="form-control" name="regno" id="regno" placeholder="Registration No./Employee ID" required>
                                        
                                   </div>
                              </div>
                              <div class="form-group">
                                   <div class="cols-sm-10 form-inline">

                                                  <label for="student">Student</label>
                                                  <input type="radio" class="form-control ml-2" name="type" id="student" value="student" required > 


                                                  <label for="official" class="ml-5">Staff</label>
                                                  <input type="radio" class="form-control ml-2" name="type" id="official" value="official" required >


                                   </div>
                              </div>
                              <div class="form-group">
                                   <label for="pass" class="cols-sm-2 control-label">Password :</label>
                                   <div class="cols-sm-10">
                                        
                                             <input type="password" class="form-control" name="pass" id="pass" placeholder="Set Password" oninput="checkPassword()" autocomplete="off" required>
                                        
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label for="pass-con" class="cols-sm-2 control-label">Confirm Password :</label>
                                   <div class="cols-sm-10">
                                             <input type="password" class="form-control" name="pass-con" id="pass-con" placeholder="Confirm Password" oninput="checkPassword()" autocomplete="off" required>
                                             <small class="ml-2" id="con-help" style="display: none;">Passwords don't match</small>
                                   </div>
                              </div>

                              <div class="form-group row align-items-center sign-btn ml-2">
                                   <input type="submit" id="submit" value="Submit" class="btn float-right sign_btn" >
                                   <span class ="btn-space"></span>
                                   </form>
                                   
                                   
                              </div>
                              <div class="row justify-content-center">
                                   <a href="{% url 'institute:index' %}"><button class="btn float-right sign_btn">Cancel</button></a>
                              </div>
                              
                    </div>
               </div>
          </div>     
      </div>



      <script>

          function checkPassword() {
               let pass = document.getElementById('pass');
               let confirm = document.getElementById('pass-con');
               let help = document.getElementById('con-help');
               let submit = document.getElementById('submit');

               if(pass.value != confirm.value){
                    help.style.display = 'block';
                    submit.disabled = true;
               }
               else{
                    help.style.display = 'none';
                    submit.disabled = false;
               }

          }
      </script>


</body>
</html>