<div class="container-fluid floor-con p-4 mt-2 text-center" id="ground-con">
  <div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">G-1</div>
    <div class="room-card">G-2</div>
    <div class="room-card">G-3</div>
    <div class="room-card">G-4</div>
    <div class="stairs"><small>Entrance 1</small></div>
    <div class="room-card">G-5</div>
    <div class="room-card">G-6</div>
    <div class="room-card">G-7</div>
    <div class="room-card">G-8</div>
    <div class="room-card">G-9</div>
    <div class="room-card">G-10</div>
    <div class="stairs"><small>Entrance 2</small></div>
    <div class="room-card">G-11</div>
    <div class="room-card">G-12</div>
    <div class="room-card">G-13</div>
    <div class="room-card">G-14</div>
    <div class="restroom">Restrooms</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">G-15</div>
    <div class="room-card">G-16</div>
    <div class="room-card">G-17</div>
    <div class="staff"><small>Warden</small></div>
    <div class="stairs">Stairs</div>
    <div class="staff"><small>Sick</small></div>
    <div class="room-card">G-18</div>
    <div class="room-card">G-19</div>
    <div class="room-card">G-20</div>
    <div class="room-card">G-21</div>
    <div class="room-card">G-22</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">G-23</div>
    <div class="room-card">G-24</div>
    <div class="room-card">G-25</div>
    <div class="room-card">G-26</div>
    <div class="restroom">Restrooms</div>
  </div>
</div>

<div class="container-fluid floor-con p-4 mt-2 text-center" id="first-con">
  <div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">F-1</div>
    <div class="room-card">F-2</div>
    <div class="room-card">F-3</div>
    <div class="room-card">F-4</div>
    <div class="staff stairs">RR1</div>
    <div class="room-card">F-5</div>
    <div class="room-card">F-6</div>
    <div class="room-card">F-7</div>
    <div class="room-card">F-8</div>
    <div class="room-card">F-9</div>
    <div class="room-card">F-10</div>
    <div class="staff stairs">RR2</div>
    <div class="room-card">F-11</div>
    <div class="room-card">F-12</div>
    <div class="room-card">F-13</div>
    <div class="room-card">F-14</div>
    <div class="restroom">Restrooms</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
    <div class="restroom">Restrooms</div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="room-card">F-15</div>
    <div class="room-card">F-16</div>
    <div class="room-card">F-17</div>
    <div class="stairs">Stairs</div>

    <div class="room-card">F-18</div>
    <div class="room-card">F-19</div>
    <div class="room-card">F-20</div>
    <div class="room-card">F-21</div>
    <div class="room-card">F-22</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">F-23</div>
    <div class="room-card">F-24</div>
    <div class="room-card">F-25</div>
    <div class="room-card">F-26</div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="restroom">Restrooms</div>
  </div>
</div>

<div class="container-fluid floor-con p-4 mt-2 text-center" id="second-con">
  <div>
    <div class="restroom">Restrooms</div>
    <div class="room-card">S-1</div>
    <div class="room-card">S-2</div>
    <div class="room-card">S-3</div>
    <div class="room-card">S-4</div>
    <div class="balcony stairs"><small>Balcony</small></div>
    <div class="room-card">S-5</div>
    <div class="room-card">S-6</div>
    <div class="room-card">S-7</div>
    <div class="room-card">S-8</div>
    <div class="room-card">S-9</div>
    <div class="room-card">S-10</div>
    <div class="balcony stairs"><small>Balcony</small></div>
    <div class="room-card">S-11</div>
    <div class="room-card">S-12</div>
    <div class="room-card">S-13</div>
    <div class="room-card">S-14</div>
    <div class="restroom">Restrooms</div>
  </div>
  {% include 'officials/layouts/pathway.html' %}
  <div>
    <div class="restroom">Restrooms</div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="room-card">S-15</div>
    <div class="room-card">S-16</div>
    <div class="stairs">Stairs</div>

    <div class="room-card">S-17</div>
    <div class="room-card">S-18</div>
    <div class="room-card">S-19</div>
    <div class="room-card">S-20</div>
    <div class="room-card">S-21</div>
    <div class="room-card">S-22</div>
    <div class="stairs">Stairs</div>
    <div class="room-card">S-23</div>
    <div class="room-card">S-24</div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="balcony d-inline-block ml-2 text-center py-3">
      <small>Balcony</small>
    </div>
    <div class="restroom">Restrooms</div>
  </div>
</div>
