<div class="my-5 d-flex">
  <span class="mx-auto">Pathway</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="100px"
    height="40px"
    viewBox="0 0  1040 620"
    preserveAspectRatio="xMidYMid meet"
  >
    <rect
      id="svgEditorBackground"
      x="0"
      y="0"
      width="1040"
      height="620"
      style="fill: none; stroke: none"
    />
    <defs id="svgEditorDefs">
      <polygon id="svgEditorIconDefs" style="fill: rosybrown" />
      <polygon
        id="svgEditorShapeDefs"
        style="
          fill: rosybrown;
          stroke: black;
          vector-effect: non-scaling-stroke;
          stroke-width: 1px;
        "
      />
      <path
        id="svgEditorClosePathDefs"
        style="stroke: black; stroke-width: 1px; fill: rosybrown"
      />
    </defs>
    <rect
      x="183.00"
      y="192.00"
      style="fill: #000000; stroke: black; stroke-width: 1px"
      id="e3_rectangle"
      width="479.00"
      height="56.00"
    />
    <path
      d="M-4,-4v8h8Z"
      style="
        fill: black;
        stroke: black;
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
      "
      id="e6_shape"
      transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"
    />
  </svg>
  <span class="mx-auto">Pathway</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="100px"
    height="40px"
    viewBox="0 0  1040 620"
    preserveAspectRatio="xMidYMid meet"
  >
    <rect
      id="svgEditorBackground"
      x="0"
      y="0"
      width="1040"
      height="620"
      style="fill: none; stroke: none"
    />
    <defs id="svgEditorDefs">
      <polygon id="svgEditorIconDefs" style="fill: rosybrown" />
      <polygon
        id="svgEditorShapeDefs"
        style="
          fill: rosybrown;
          stroke: black;
          vector-effect: non-scaling-stroke;
          stroke-width: 1px;
        "
      />
      <path
        id="svgEditorClosePathDefs"
        style="stroke: black; stroke-width: 1px; fill: rosybrown"
      />
    </defs>
    <rect
      x="183.00"
      y="192.00"
      style="fill: #000000; stroke: black; stroke-width: 1px"
      id="e3_rectangle"
      width="479.00"
      height="56.00"
    />
    <path
      d="M-4,-4v8h8Z"
      style="
        fill: black;
        stroke: black;
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
      "
      id="e6_shape"
      transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"
    />
  </svg>
  <span class="mx-auto">Pathway</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="100px"
    height="40px"
    viewBox="0 0  1040 620"
    preserveAspectRatio="xMidYMid meet"
  >
    <rect
      id="svgEditorBackground"
      x="0"
      y="0"
      width="1040"
      height="620"
      style="fill: none; stroke: none"
    />
    <defs id="svgEditorDefs">
      <polygon id="svgEditorIconDefs" style="fill: rosybrown" />
      <polygon
        id="svgEditorShapeDefs"
        style="
          fill: rosybrown;
          stroke: black;
          vector-effect: non-scaling-stroke;
          stroke-width: 1px;
        "
      />
      <path
        id="svgEditorClosePathDefs"
        style="stroke: black; stroke-width: 1px; fill: rosybrown"
      />
    </defs>
    <rect
      x="183.00"
      y="192.00"
      style="fill: #000000; stroke: black; stroke-width: 1px"
      id="e3_rectangle"
      width="479.00"
      height="56.00"
    />
    <path
      d="M-4,-4v8h8Z"
      style="
        fill: black;
        stroke: black;
        vector-effect: non-scaling-stroke;
        stroke-width: 1px;
      "
      id="e6_shape"
      transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"
    />
  </svg>
  <span class="mx-auto">Pathway</span>
</div>
