{% extends 'officials/base_public_forms.html' %}
{% block title %}Register {{object_name}}{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<form method="post">
  {% csrf_token %}
  <div class="card-body text-capitalize">
    <div class="row">
      <div class="col-12">
        {{ form|crispy }}
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-warning px-4 py-2">Register</button>
    </div>
  </div>
</form>
{% endblock content %}