{% extends 'officials/base_officials.html' %}
{% block title %}Complaint - Hostel Management System{% endblock title %}

{% block content %} 
<h2 class="text-center">{{ complaint.type }} Complaint</h2>
<div class="row my-3 justify-content-center">
  <div class="col-md-5 border py-3 mr-md-4">
    <h4 class="text-center border-bottom border-secondary pb-3">Complaint Details</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Type</th>
          <td>{{ complaint.type }}</td>
        </tr>
        <tr>
          <th>Complainee</th>
          <td>{{ complaint.complainee.regd_no }} - {{ complaint.complainee.name }}</td>
        </tr>
        <tr>
          <th>Summary</th>
          <td>{{ complaint.summary }}</td>
        </tr>
        <tr>
          <th>Details</th>
          <td>{{ complaint.detailed }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ complaint.status }}</td>
        </tr>
        <tr>
          <th>Remarks</th>
          <td>{{ complaint.remark }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 border py-3">
    <h4 class="text-center border-bottom border-secondary pb-3">Complainant Details</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>Registration No./Employee ID/ Staff ID</th>
          <td>{{ complaint.entity_id }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{ complaint.entity.name }}</td>
        </tr>
        <tr>
          <th>Block</th>
          <td>
            {% if complaint.entity_type == 'Student' %}
              {{complaint.entity.roomdetail.block.short_name}} {{complaint.entity.roomdetail.room}}
            {% endif %}
            {% if complaint.entity_type == 'Official' %}
              {{complaint.entity.block}}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{ complaint.entity.phone }}</td>
        </tr>
        <tr>
          <th>eMail</th>
          <td>{{ complaint.entity.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-11 mt-4 border p-3">
    <form action="{% url 'complaints:complaint_edit' complaint.id %}" method="post">
      {% csrf_token %}
      {% load crispy_forms_tags %}
      {{form|as_crispy_errors}}
      <div class="row">
        <div class="col-md-10">
          {{form.status|as_crispy_field}}
        </div>
        <div class="col-12 order-2 order-md-3">
          {{form.remark|as_crispy_field}}
        </div>
        <div class="col-md-2 d-flex align-items-end py-3 order-3 order-md-2 justify-content-center">
          <input type="submit" value="Update" class="btn btn-primary">
      </form>
      <form action="{% url 'complaints:complaint_delete' complaint.id %}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete {{complaint.id}}?');">{% csrf_token %}
        <input type="submit" class="btn btn-danger ml-3" value="Delete" />
      </form>
        </div>
      </div>
  </div>
</div>
{% endblock content %}