body{
    font-family: 'Roboto', sans-serif;
    background-color:#F9FAFB;

}
#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:x-large;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #100f18;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 8px 8px 6px -6px rgb(37, 34, 68);
    background: rgb(22,32,49);
    background: linear-gradient(90deg, rgba(22,32,49,1) 0%, rgba(22,32,49,1) 81%, #1f2e47 100%);
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #b766ec;
}

.container {
    background-color: rgba(221, 221, 221, 0.5);
    margin-bottom: 20px;
}

.ddbut-con {
    text-align: right;
}

@media (max-width: 768px){
    .table1-container {
        overflow-x: scroll;
    }
    .ddbut-con {
        text-align: left;
    }
}


.attcheck {
    width: 20px;
    height: 20px;

}

.subbtn {
    width: 100px;
    height: 3em;
    border: green solid 1px;
    border-radius: 20px;
    transition: 0.2s;
}