.main-container {
    max-width: 95vw;
}

.floor-con{
    border: 1.5px solid #bebebe; 
    border-radius: 10px; 
}

#first-con, #second-con {
    display: none;
}


.room-card{
    background: radial-gradient(circle, rgb(170, 161, 161) 0%, rgb(80, 80, 80) 100%);
    height: 3.5rem;
    width: 3.3rem;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    transition:  0.2s;
    color: aliceblue;
}

.partial {
    background: rgb(6, 199, 209);
    background: radial-gradient(circle, rgb(5, 204, 214) 0%, rgb(46, 115, 235) 100%);
}

.filled {
    background: rgb(80,251,186);
    background: radial-gradient(circle, rgb(12, 209, 134) 0%, rgb(14, 129, 6) 100%);
}

.room-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(61, 11, 94, 0.445);

}

.stairs {

    height: 3.5rem;
    width: 3.3rem;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    transition:  0.5s;
    color: aliceblue;
    background: gray;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
    width: 4rem;
    color: #000;
}

.restroom {
    background: rgb(80,251,186);
    background: radial-gradient(circle, rgb(12, 209, 134) 0%, rgb(14, 129, 6) 100%);
    height: 3.5rem;
    width: 3.3rem;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
    transition:  0.5s;
    color: aliceblue;
    background: gray;
    width: 6rem;
    color: #000;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
}

.balcony {
    height: 3.5rem;
    width: 3.3rem;
    background-color: rgb(221, 150, 124);
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
}

.staff {
    height: 3.5rem;
    width: 3.3rem;
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-left: 0.25rem;
    display: inline-block;
}