body{
    font-family: 'Roboto', sans-serif;
    background-color:#F9FAFB;
}

.container{
    overflow-x: auto;
}
.container-fluid{
    overflow-x: auto;
}


#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:x-large;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #100f18;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 8px 8px 6px -6px rgb(37, 34, 68);
    background: rgb(22,32,49);
    background: linear-gradient(90deg, rgba(22,32,49,1) 0%, rgba(22,32,49,1) 81%, rgba(31,46,71,1) 100%);
}

.sidenav a {
    padding: 5px 8px 13px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
}

.sidenav::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}   
.sidenav::-webkit-scrollbar-track {
    background: #ddd;
}
   
.sidenav::-webkit-scrollbar-thumb {
    background: #666; 
}

.sidenav a:hover {
    color: #b766ec;
}

.main-container {
    margin-top: 5.5rem;
    background-color: rgba(221, 221, 221, 0.5);
    border: 1.5px solid #a1a1a1;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    max-width: 1190px;
}

@media (max-width: 768px){
    .main-container {
        overflow-x: scroll;
    }
}

.card {
    padding: 10px 0 10px 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:  0.5s;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(61, 11, 94, 0.445);

}

#present {
    background: rgb(80,251,186);
    background: radial-gradient(circle, rgba(5, 172, 108, 0.637) 0%, rgba(14,126,3,1) 100%);
}

#absent {
    background: rgb(252,185,137);
    background: radial-gradient(circle, rgb(255, 168, 106) 0%, rgba(236,0,0,1) 100%);
}

#comps {
    background: rgb(10,237,251);
    background: radial-gradient(circle, rgba(10,237,251,1) 0%, rgba(72,139,252,1) 100%);
}

.attnum {
    font-size: 2.5em;
    font-weight: bolder;

    vertical-align: middle;
    color: aliceblue;
}

.atttext {

    color: rgba(255, 255, 255, 0.89);
    font-weight: 100;
}

.atticon {
    color: rgb(240, 248, 255);

    font-size: 3em;
}

.table-muted{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#complaints_table{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th{
    border: none !important;
    max-width: 47px;
}

.table-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}   
.table-container::-webkit-scrollbar-track {
    background: #ddd;
}
   
.table-container::-webkit-scrollbar-thumb {
    background: #666; 
}