body{
    font-family: 'Roboto', sans-serif;
    background-color:#F9FAFB;

}
#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:x-large;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #100f18;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 8px 8px 6px -6px rgb(37, 34, 68);
    background: rgb(22,32,49);
    background: linear-gradient(90deg, rgba(22,32,49,1) 0%, rgba(22,32,49,1) 81%, rgba(31,46,71,1) 100%);
}

.sidenav a {
    padding: 5px 8px 13px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #b766ec;
}

.main-container {
    margin-top: 5.5rem;
    background-color: rgba(221, 221, 221, 0.5);
    border: 1.5px solid #a1a1a1;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    max-width: 1300px;
}

thead {
    background-color: #a1a1a1d2;
    text-align: center;
}

.field{
    font-weight: 800;
    width: 50%;
    padding: 40px;
}

.field-item {
    margin-left: 200px;
}

.indata {
    border: none;
    transition: 0.7s;
    border-bottom: 1px solid rgba(54, 54, 54, 0.671);
    background-color: rgba(255, 255, 255, 0.815);

}

.btn-success {
    height: 3em;
    padding: 10px;
    transition: 0.3s;
    border: none;
    border-radius: 10%;
}