body{
    font-family: 'Roboto', sans-serif;
    background-color:#F9FAFB;


}
#topnav {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    box-shadow: 0 8px 6px -6px rgb(37, 34, 68);
}
#title{
    font-size:x-large;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #100f18;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 8px 8px 6px -6px rgb(37, 34, 68);
    background: rgb(22,32,49);
    background: linear-gradient(90deg, rgba(22,32,49,1) 0%, rgba(22,32,49,1) 81%, rgba(31,46,71,1) 100%);
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #b766ec;
}

.main-container {

    background-color: rgba(221, 221, 221, 1);
    border: 1.5px solid #a1a1a1;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;

}

@media (max-width: 768px){
    .main-container {
        overflow-x: scroll;
    }
}

thead {
    background-color: #a1a1a1d2;
    text-align: center;
}

.field{
    font-weight: 800;
    width: 50%;
    padding: 40px   ;
}

.field-item {
    margin-left: 200px;
}

#subbtn {
    display: none;
}

.cclass {
    padding: 30px;
}

.card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition:  0.5s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(61, 11, 94, 0.445);

}

#present {
    background: rgb(80,251,186);
    background: radial-gradient(circle, rgba(80,251,186,1) 0%, rgba(14,126,3,1) 100%);
}

#absent {
    background: rgb(252,185,137);
    background: radial-gradient(circle, rgba(252,185,137,1) 0%, rgba(236,0,0,1) 100%);
}

#comps {
    background: rgb(10,237,251);
    background: radial-gradient(circle, rgba(10,237,251,1) 0%, rgba(72,139,252,1) 100%);
}

.attnum {
    font-size: 5.5em;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
}

.atttext {
    text-align: center;
    color: rgba(240, 248, 255, 0.89);
    font-weight: 100;
}

.atticon {
    color: rgb(240, 248, 255);
    text-align: center;
    font-size: 3em;
}

#complaints-wrapper{
    display: none;
}

