<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gallery - Hostel Management System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

        {% load static %}
        <link rel="stylesheet" href="{% static 'institute/grid-gallery.css' %}">
        <link rel="stylesheet" href="{% static 'institute/topnav.css' %}">
    </head>

    <body>

        <nav class="navbar fixed-top row px-4" id="topnav">
            <div class="col-12 d-flex justify-content-center">
                <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT AP - Hostel Management System</span>
                <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
            </div>   
       </nav>

        <br><br>

        <section class="gallery-block grid-gallery"  style="padding-top: 40px;">
            <div class="container">
                <div class="heading">
                    <h2 style="color: aliceblue;">NIT AP Hostels Gallery</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img1.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img1.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img2.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img2.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img6.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img6.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img4.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img4.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img5.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img5.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img3.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img3.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img7.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img7.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href=".{% static 'institute/img10.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img10.jpg' %}">
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <a class="lightbox" href="{% static 'institute/img9.jpg' %}">
                            <img class="img-fluid image scale-on-hover" src="{% static 'institute/img9.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
        </script>
    </body>
</html>