{% extends 'institute/base_public_pages.html' %}

{% block title %}Blocks{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/cards.css' %}">
{% endblock style_links %}


{% block content %}
  <div class="container-fluid my-5 pt-5">
    <div class="row justify-content-center mx-md-3 p-3">
      <div class="col-12 text-center">
        <h2 class="d-inline border-bottom border-info">Hostel Blocks</h2>
      </div>
      <div class="col-12 mt-3">
        <h4 class="text-center">Girls Hostels</h4>
      </div>
      
      {% for block in blocks %}
        {% if block.gender == 'Female' %}
          <div class="col-12 col-md-6 col-lg-3 p-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'institute/img2.jpg' %}" alt="Block Image" style="width: auto; height: 250px;">
              <div class="card-body">
                <h4 class="card-title">{{ block.name }}</h4>
                <div class="card-text">
                  <p>Room Type: {{ block.room_type }}</p>
                  <p>{{ block.capacity }} rooms | {{ block.student_capacity }} students</p>
                </div>
                <div class="card-reveal">
                  <h4>{{ block.name }}</h4>
                  <p>Room Type: {{ block.room_type }}</p>
                  <p>{{ block.capacity }} rooms | {{ block.student_capacity }} students</p>
                  {% if block.caretaker %}
                    <h5>Caretaker Contact</h5>
                    <p class="font-weight-bold">{{ block.caretaker.name }}</p>
                    <p>Email: {{ block.caretaker.email }}</p>
                    <p>Phone: {{ block.caretaker.phone }}</p>
                  {% endif %}
                  {% if block.warden %}
                    <h5>Warden Contact</h5>
                    <p class="font-weight-bold">{{ block.caretaker.name }}</p>
                    <p>Email: {{ block.warden.email }}</p>
                    <p>Phone: {{ block.warden.phone }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    
    <div class="row justify-content-center mx-md-3 p-3 mt-4 border-top border-secondary">
      <div class="col-12">
        <h4 class="text-center">Boys Hostels</h4>
      </div>
      
      {% for block in blocks %}
        {% if block.gender == 'Male' %}
          <div class="col-12 col-md-6 col-lg-3 p-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'institute/img2.jpg' %}" alt="Card image cap" style="width: auto; height: 250px;">
              <div class="card-body">
                <h4 class="card-title">{{ block.name }}</h4>
                <div class="card-text">
                  <p>Room Type: {{ block.room_type }}</p>
                  <p>{{ block.capacity }} rooms | {{ block.student_capacity }} students</p>
                </div>
                <div class="card-reveal">
                  <h4>{{ block.name }}</h4>
                  <p>Room Type: {{ block.room_type }}</p>
                  <p>{{ block.capacity }} rooms | {{ block.student_capacity }} students</p>
                  {% if block.caretaker %}
                    <h5>Caretaker Contact</h5>
                    <p class="font-weight-bold">{{ block.caretaker.name }}</p>
                    <p>Email: {{ block.caretaker.email }}</p>
                    <p>Phone: {{ block.caretaker.phone }}</p>
                  {% endif %}
                  {% if block.warden %}
                    <h5>Warden Contact</h5>
                    <p class="font-weight-bold">{{ block.caretaker.name }}</p>
                    <p>Email: {{ block.warden.email }}</p>
                    <p>Phone: {{ block.warden.phone }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block script_links %}
<script src="{% static 'institute/cards.js' %}"></script>
{% endblock script_links %}