{% extends 'institute/base_public_pages.html' %}

{% block title %}Home{% endblock title %}

{% block style_links %}
{% load static %}
<link rel="stylesheet" href="{% static 'institute/index.css' %}">
{% endblock style_links %}


{% block content %}  
<div class="container main-container">
  <div class="row">
    <div class="col d-none d-md-flex align-items-center">
      <img src="{% static 'institute/bg.jpeg' %}" alt="Institute_Arch" class="img-thumbnail" style="width:inherit;">
    </div>
    <div class="col p-md-5">
      <h4 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">NATIONAL INSTITUTE OF TECHNOLOGY, ANDHRA PRADESH<br> - HOSTEL MANAGEMENT SYSTEM</h4>
      <div class="row">
        <div class="col-6 text-center text-md-right">
          <a href="{% url 'django_auth:login'%}"><button class="link-item">Log In</button></a>
        </div>
        <div class="col text-center text-md-left">
          <a href="{% url 'django_auth:signup' %}"><button class="link-item">Sign Up</button></a>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-12">
          <a href="{% url 'institute:gallery' %}" class="small"><button class="link-item">Gallery - Take a look</button></a>
        </div>
        <div class="col-12 mt-2">
          <a href="{% url 'institute:hostels' %}" class="small"><button class="link-item">Blocks Informations</button></a>
        </div>
        <div class="col-12 mt-2">
          <a href="{% url 'institute:contact' %}" class="small"><button class="link-item">Contact Us!</button></a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
  