<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap" rel="stylesheet"> <!--Montserrat-->
  {% load static %}
  <link href="{% static 'institute/index.css' %}" type="text/css" rel="stylesheet"> <!--index.css-->

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-12 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">National Institute Of Technology, Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>   
   </nav>

    <div class=" d-none d-md-block main-container container">
        <div class="row ">
            <div class="col-sm d-flex align-items-center">
                <img src="{% static 'institute/bg.jpeg' %}" alt="Institute_Arch" class="img-thumbnail" style="width:inherit;">
            </div>
            <div class="col-sm p-5">
                <h4 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">NATIONAL INSTITUTE OF TECHNOLOGY, ANDHRA PRADESH<br> - HOSTEL MANAGEMENT SYSTEM</h4>
                <!-- <div class="search">
                    <div class="search-box ">
                        <form method="POST" action="{% url 'institute:search' %}">
                            <input class="search-ph " name="regno" placeholder="Search here...">
                            <input type="submit"  value="&#xf002;" id="search-btn"/>
                        </form>
                    </div>
                </div> -->
                
                <div class="links">
                    <a href="{% url 'django_auth:login'%}"><button class="link-item  mx-auto">Log In</button></a>
                    <a href="{% url 'django_auth:signup' %}"><button class="link-item  ml-5">Sign Up</button></a>
                </div>
                <div class="links mt-5">
                    <a href="{% url 'institute:gallery' %}" class="small"><button class="link-item d-block mx-auto">Gallery - Take a look</button></a>
                    <a href="{% url 'institute:hostels' %}" class="small"><button class="link-item d-block mx-auto mt-2">Blocks Informations</button></a>
                    <a href="{% url 'institute:contact' %}" class="small"><button class="link-item d-block mx-auto mt-2">Contact Us!</button></a>
                </div>
            </div>
            
        </div>
    </div>

    <div class=" d-block d-md-none container pt-5">
        <div class="row ">
            <div class="col-sm p-5">
                <h5 style="color: black; font-weight:800; margin-bottom: 1.3em;" class="text-center">NATIONAL INSTITUTE OF TECHNOLOGY, ANDHRA PRADESH<br> - HOSTEL MANAGEMENT SYSTEM</h5>
                <!-- <div class="search">
                    <div class="search-box ">
                        <form method="POST" action="{% url 'institute:search' %}">
                            <input class="search-ph " name="regno" placeholder="Search here...">
                            <input type="submit"  value="&#xf002;" id="search-btn"/>
                        </form>
                    </div>
                </div> -->
                
                <div class="links">
                    <a href="{% url 'authenticate:login'%}"><button class="link-item  mx-auto">Log In</button></a>
                    <a href="{% url 'authenticate:signup' %}"><button class="link-item  ml-5">Sign Up</button></a>
                </div>
                <div class="links mt-5">
                    <a href="{% url 'institute:gallery' %}" class="small"><button class="link-item d-block mx-auto">Gallery - Take a look</button></a>
                    <a href="{% url 'institute:hostels' %}" class="small"><button class="link-item d-block mx-auto mt-2">Blocks Informations</button></a>
                    <a href="{% url 'institute:contact' %}" class="small"><button class="link-item d-block mx-auto mt-2">Contact Us!</button></a>
                </div>
            </div>
            
        </div>
    </div>


</body>
</html>