<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer Team Info - Hostel Management System</title>    
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>     
    {% load static %}
    <link rel="stylesheet" href="{% static 'institute/grid-gallery.css' %}">
    <link rel="stylesheet" href="{% static 'institute/topnav.css' %}">
</head>

<body>
    <nav class="navbar fixed-top row px-4 pt-0" id="topnav">
        <div class="col-12 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">National Institute Of Technology, Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>   
   </nav>

    <section class="gallery-block grid-gallery" style="padding-top: 60px;">
        <div class="container mt-5" >
            <div class="heading justify-content-center">
                <h2 yle="color: rgb(70, 25, 100);">Faculty Advisor</h2>
            </div>
            <div class="row d-flex justify-content-center">
                       <div class="col-md-5 col-lg-3 item ">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/SRL.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Dr. Srilatha Chebrolu<i class="material-icons right">more_vert</i></span>
                                <p>Assistant Professor</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Dr. Srilatha Chebrolu<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Assistant Professor, Department of CSE</small></span>
                                <h5>Contact:</h5>
                                <p>
                                    Phone: +91-8330967036<br><br>
                                    eMail ID: <a href="mailto:srilatha.chebrolu@nitandhra.ac.in">srilatha.chebrolu@nitandhra.ac.in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading">
                <h2 yle="color: rgb(70, 25, 100);">Student Developers</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/eswar.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Eswar Prasad Clinton. A<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Eswar Prasad Clinton. A<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science and Engineering</small></span>
                                <p>
                                    Roll No.: 411818
                                </p>
                                <p>
                                 eMail ID: <a href="mailto:411818@student.nitandhra.ac.in" class="card-link">411818@student.nitandhra.ac.in</a>
                                </p>
                                <p>
                                LinkedIn: <a href="https://www.linkedin.com/in/eswar-prasad-clinton-a-a473441a7/" target="_blank" class="card-link">https://www.linkedin.com/in/eswar-prasad-clinton-a-a473441a7/</a>
                                </p>
                                <p>Phone: +91 63691 50885</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/chaithanya.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Ravuri Lalitha Krishna Chaithanya<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Ravuri Lalitha Krishna Chaithanya<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science And Engineering</small></span>
                                <p>
                                    Roll No.: 411866
                                </p>
                                <p>
                                 eMail ID: <a href="mailto:411866@student.nitandhra.ac.in" class="card-link">411866@student.nitandhra.ac.in</a>
                                </p>
                                <p>
                                LinkedIn: <a href="https://www.linkedin.com/in/chaithanya-rlk-5b14a719b" target='_blank' class="card-link">https://www.linkedin.com/in/chaithanya-rlk-5b14a719b</a>
                                </p>
                                <p>Phone: +91 88979 23566</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/susmith.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Poreddy Susmith Reddy<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Poreddy Susmith Reddy<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science and Engineering</small></span>
                                <p>
                                    Roll No.: 411859
                                </p>

                                <p>
                                 eMail ID: <a href="mailto:411859@student.nitandhra.ac.in" class="card-link">411859@student.nitandhra.ac.in</a>
                                </p>
                                <p>
                                LinkedIn: <a href="https://www.linkedin.com/in/susmith-reddy-poreddy-06871716b" target='_blank' class="card-link">https://www.linkedin.com/in/susmith-reddy-poreddy-06871716b</a>
                                </p>
                                <p>Phone: +91 6304 34913</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/premsai1.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Padarthi Prem Sai<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Padarthi Prem Sai<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science and Engineering</small></span>
                                <p>
                                    Roll No.: 411856
                                </p>
 
                                <p>
                                 eMail ID: <a href="mailto:411856@student.nitandhra.ac.in" class="card-link">411856@student.nitandhra.ac.in</a>
                                </p>
                                <p>
                                LinkedIn: <a href="https://www.linkedin.com/in/prem-sai-0a2994176" target='_blank' class="card-link">https://www.linkedin.com/in/prem-sai-0a2994176</a>
                                </p>
                                <p>Phone: +91 91772 26446</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                            
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 240px;">
                                    <img class="activator" src="{% static 'institute/baskar.jpg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Baskar .P<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Baskar<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science and Engineering</small></span>
                                <p>
                                    Roll No.: 411858
                                </p>

                                <p>
                                 eMail ID: <a href="mailto:411858@student.nitandhra.ac.in" target='_blank' class="card-link">411858@student.nitandhra.ac.in</a>
                                </p>
                                <p>
                                LinkedIn: <a href="https://www.linkedin.com/in/kalyan-sriram-8baa4a174" target='_blank' class="card-link">https://www.linkedin.com/in/kalyan-sriram-8baa4a174</a>
                                </p>
                                <p>Phone: +91 73821 21471</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-md-5 col-lg-4 item">
                    <div class="main" style=" height:auto;width:18.5rem ">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <div class="activator" style="width: auto; height: 210px;">
                                    <img class="activator" src="{% static 'institute/ck.jpeg' %}">
                                </div> 
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Garlapati Chandrakanth<i class="material-icons right">more_vert</i></span>
                                <p>CSE II Year</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Garlapati Chandrakanth<i class="material-icons right">close</i></span>
                                <span class="card-title"><small>Computer Science and Engineering</small></span><br>

                                <p>
                                 eMail ID: <a href="mailto:411820@student.nitandhra.ac.in" target='_blank' class="card-link">411820@student.nitandhra.ac.in</a>
                                </p>
                                <br>
                                <p>
                                LinkedIn: <a href="www.linkedin.com/in/gck31" target='_blank' class="card-link">www.linkedin.com/in/gck31</a>
                                </p>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
    </script>
</body>
</html>