<style>
    .room-card {
        width: 3.3rem;
    }
</style>


<div class="container-fluid floor-con p-4 mt-2 text-center" id="ground-con">
    <div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-1</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-2</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-3</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-4</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-5</div>
        <div class=" stairs d-inline-block ml-1 text-center py-3" >Entrance</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-6</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-7</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-8</div>
        <div class="staff d-inline-block ml-1 text-center py-3"><small>Warden</small></div>
        <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
        <div class="staff d-inline-block ml-1 text-center py-3"><small>Sick</small></div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-9</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-10</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-11</div>
        <div class=" stairs d-inline-block ml-1 text-center py-3" >Entrance</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-12</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-13</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-14</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-15</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >G-16</div>
    </div>
    <div class="my-5 d-flex">
        <span class="mx-auto">Pathway</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
        <span class="mx-auto">Pathway</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
        <span class="mx-auto">Pathway</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
        <span class="mx-auto">Pathway</span>
    </div>
    <div>

        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-17</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-18</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-19</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-20</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-21</div>
        <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-22</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-23</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-24</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-25</div>
        <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-26</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-27</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-28</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-29</div>
        <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-30</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-31</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-32</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-33</div>
        <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">G-34</div>

    </div>

</div>

    <div class="container-fluid floor-con p-4 mt-2 text-center" id="first-con">
        <div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-1</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-2</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-3</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-4</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-5</div>
            <div class="staff stairs d-inline-block ml-1 text-center py-3" >RR1</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-6</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-7</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-8</div>
            <div class="balcony d-inline-block ml-1 text-center py-3"><small>Balcony</small></div>
            <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
            <div class="balcony d-inline-block ml-1 text-center py-3"><small>Balcony</small></div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-9</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-10</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-11</div>
            <div class="staff stairs d-inline-block ml-1 text-center py-3">RR2</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-12</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-13</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-14</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-15</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >F-16</div>
        </div>
        <div class="my-5 d-flex">
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
        </div>
        <div>

            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-17</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-18</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-19</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-20</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-21</div>
            <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-22</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-23</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-24</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-25</div>
            <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-26</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-27</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-28</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-29</div>
            <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-30</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-31</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-32</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-33</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">F-34</div>
    
        </div>

    </div>

    <div class="container-fluid floor-con p-4 mt-2 text-center" id="second-con">
        <div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-1</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-2</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-3</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-4</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-5</div>
            <div class="balcony stairs d-inline-block ml-1 text-center py-3" ><small>Balcony</small></div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-6</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-7</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-8</div>
            <div class="balcony d-inline-block ml-1 text-center py-3"><small>Balcony</small></div>
            <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
            <div class="balcony d-inline-block ml-1 text-center py-3"><small>Balcony</small></div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-9</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-10</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-11</div>
            <div class="balcony stairs d-inline-block ml-1 text-center py-3" ><small>Balcony</small></div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-12</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-13</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-14</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-15</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip" >S-16</div>
        </div>
        <div class="my-5 d-flex">
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="40px" viewBox="0 0  1040 620" preserveAspectRatio="xMidYMid meet" ><rect id="svgEditorBackground" x="0" y="0" width="1040" height="620" style="fill: none; stroke: none;"/><defs id="svgEditorDefs"><polygon id="svgEditorIconDefs" style="fill:rosybrown;"/><polygon id="svgEditorShapeDefs" style="fill:rosybrown;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"/><path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:rosybrown;"/></defs><rect x="183.00" y="192.00" style="fill:#000000;stroke:black;stroke-width:1px;" id="e3_rectangle" width="479.00" height="56.00"/><path d="M-4,-4v8h8Z" style="fill:black; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;" id="e6_shape" transform="matrix(-15.8198 -15.8233 15.8233 -15.8198 660.5 221.5)"/></svg>
            <span class="mx-auto">Pathway</span>
        </div>
        <div>

            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-17</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-18</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-19</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-20</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-21</div>
            <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-22</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-23</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-24</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-25</div>
            <div class=" restroom d-inline-block ml-1 text-center py-3" >Restrooms</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-26</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-27</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-28</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-29</div>
            <div class=" stairs d-inline-block ml-1 text-center py-3" >Stairs</div> 
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-30</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-31</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-32</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-33</div>
            <div class="room-card d-inline-block ml-1 text-center py-3" onmouseover="showRoll(this)"  onclick="showDetails(this)" data-toggle="tooltip">S-34</div>
    
        </div>

    </div>