<!DOCTYPE html>
<html lang="en">
<head>
  <title>Attendance - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"><!--Datatables CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %} " rel="stylesheet">
  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT AP - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'officials:profile' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'officials:official_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'officials:attendance' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Attendance</a>
        <a href="{% url 'officials:attendance_workers' %}"><span><i class="fa fa-users"></i></span> &nbsp;&nbsp; Attendance-Staff</a>
        <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
        <a href="{% url 'officials:grantOuting' %}"><span><i class="fa fa-map-marker" ></i></span> &nbsp;&nbsp; Outing Requests</a>
        <a href="{% url 'officials:watercan' %}"><span><i class="fa fa-tint" ></i></span> &nbsp;&nbsp; Water Can Info</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'institute:index' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>
    </div>


    <div class="container main-container">

            <h1 style="text-align: center;">Attendance Log</h1>
                <form method="POST" action="{% url 'officials:attendance_log' %}">
                {% csrf_token %}
                {% if messages %}
                                   
                {% for message in messages %}
                     <script>
                          alert('{{message}}');
                     </script>
                {% endfor %}
                     
                {% endif %}
                    <div class="row text-center">
                        <div class="col-sm-12 col-lg-6 form-group">
                            <label for="date" class="ml-5  mr-5">Attendance by Date:</label>
                            <input type="date" name="date" id="date" class="d-inline" onclick="setEnabled(this)">

                        </div>                        
                        <div class="col-sm-12 col-lg-6 form-group">
                            <label for="regno" class="ml-5 mr-4">Attendance by ID/Regd. No:</label>
                            <input type="text" name="regno" id="regno" style="width: 120px;" onclick="setEnabled(this)" >
                        </div>
                        
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <input type="submit" class="subbtn btn-success" style="width: 100px; height: 3em; border: green solid 1px; border-radius: 20px; transition: 0.2s;">
                        </div>
                    </div>
            </form>
            
            {% if pres_stud %}
            <div class="row">
                <div class="col-12 col-lg-6" >
                    <table class="table table-hover table-dark table-striped" id="stud-pres-table">
                        <h3 class="text-center">Present Students</h3>
                        <thead>
                            <tr>
                                <th>Roll No.</th>
                                <th>Name</th>
                                <th>Room</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            
                            {% for stud in pres_stud %}
                            <tr>
                                <td>{{stud.info.regd_no}}</td>
                                <td>{{stud.info.name}}</td>
                                <td>{{stud.block.floor|slice:"0:1"}}-{{stud.block.room_no}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6" >
                    <table class="table table-hover table-dark table-striped" id="stud-abs-table">
                        <h3 class="text-center">Absent Students</h3>
                        <thead>
                            <tr>
                                <th>Roll No.</th>
                                <th>Name</th>
                                <th>Room</th>

                            </tr>
                        </thead>
                        
                        <tbody>
                            
                            {% for stud in abse_stud %}
                            <tr>
                                <td>{{stud.info.regd_no}}</td>
                                <td>{{stud.info.name}}</td>
                                <td>{{stud.block.floor|slice:"0:1"}}-{{stud.block.room_no}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
            {% endif %}
                
            
            {% if pres_dates %}
            <div class="row">
                <div class="col-12 col-lg-6" >
                    <table class="table table-hover table-dark table-striped" id="dates-pres-table">
                        <h3 class="text-center">Present Dates</h3>
                        <tbody>
                            <tr>
                                <td>
                                    {% for stud in pres_dates %}
                                        {{stud}}, 
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-6" >
                    <table class="table table-hover table-dark table-striped" id="dates-abs-table">
                        <h3 class="text-center">Absent Dates</h3>
                        
                        <tbody>
                            <tr>
                                <td>
                                    {% for stud in abse_dates %}
                                        {{stud}}, 
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}

        </div>

    <script>
        window.onload = function(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.getElementById("date").setAttribute("max", today);
        }



        function setEnabled(x) {
            if(x.name == "date"){
                document.getElementById("regno").value="";
            }
            else if(x.name == "regno"){
                document.getElementById("date").value="";
            }
        }
    </script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#stud-pres-table').DataTable();
            $('#stud-abs-table').DataTable();
        } );
    </script>

</body>
</html>


