{% extends 'officials/base_officials.html' %}

{% block title %}Attendance Log{% endblock title %}


{% block content %}
<h1 class="text-center">Attendance Log</h1>
<form method="POST" action="{% url 'officials:attendance_log' %}">
  {% csrf_token %}

  <div class="row text-center mt-4">
    <div class="col-sm-12 col-lg-4 form-group">
      <label for="date" class="">Attendance by Date:</label><br>
      <input type="date" name="date" id="date" class="d-inline" onclick="setEnabled(this)">

    </div>
    <div class="col-sm-12 col-lg-4 form-group">
      <label for="regno" class="">Attendance by ID/Regd. No:</label><br>
      <input type="text" name="regno" id="regno" style="width: 120px;" onclick="setEnabled(this)">
    </div>
    <div class="col-sm-12 col-lg-4  form-group">
      <label for="stud_month">Month:</label><br>
      <input type="month" name="stud_month" id="stud_month" onchange="showDates()">

      {% if pres_dates %}
      <br>
      <small>Total details displayed. Change month to get month-wise!</small>

      {% endif %}
    </div>


  </div>
  <div class="row text-center">
    <div class="col-12">
      <input type="submit" class="subbtn btn-success"
        style="width: 100px; height: 3em; border: green solid 1px; border-radius: 20px; transition: 0.2s;">
    </div>
  </div>
</form>

{% if pres_stud %}
<div class="row">
  <div class="col-12 col-lg-6">
    <table class="table table-hover table-muted table-striped" id="stud-pres-table">
      <h3 class="text-center">Present Students</h3>
      <thead>
        <tr>
          <th>Roll No.</th>
          <th>Name</th>
          <th>Room</th>
        </tr>
      </thead>

      <tbody>

        {% for stud in pres_stud %}
        <tr>
          <td>{{stud.info.regd_no}}</td>
          <td>{{stud.info.name}}</td>
          <td>{{stud.block.floor|slice:"0:1"}}-{{stud.block.room_no}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-12 col-lg-6">
    <table class="table table-hover table-muted table-striped" id="stud-abs-table">
      <h3 class="text-center">Absent Students</h3>
      <thead>
        <tr>
          <th>Roll No.</th>
          <th>Name</th>
          <th>Room</th>

        </tr>
      </thead>

      <tbody>

        {% for stud in abse_stud %}
        <tr>
          <td>{{stud.info.regd_no}}</td>
          <td>{{stud.info.name}}</td>
          <td>{{stud.block.floor|slice:"0:1"}}-{{stud.block.room_no}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endif %}


{% if pres_dates %}
<div class="row">
  <div class="col-12 col-lg-6">
    <h3 class="text-center">Present count : <span class="font-weight-bold"
        id="present_count_con">{{pres_dates|length}}</span></h3>
    <script>
      var present_dates = []
      {% for stud in pres_dates %}
      present_dates.push('{{stud}}')
      {% endfor %}

    </script>
    Present Dates : <span id="present_dates_con">{{pres_dates}} </span>

  </div>
  <div class="col-12 col-lg-6">
    <script>
      var absent_dates = []
      {% for stud in abse_dates %}
      absent_dates.push('{{stud}}')
      {% endfor %}

    </script>
    <h3 class="text-center">Absent count : <span class="font-weight-bold"
        id="absent_count_con">{{abse_dates|length}}</span></h3>
    Absent Dates : <span id="absent_dates_con">{{abse_dates}}</span>
  </div>
</div>
{% endif %}
{% endblock content %}


{% block script_links %}

<script>
  window.onload = function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date").setAttribute("max", today);
  }



  function setEnabled(x) {
    if (x.name == "date") {
      document.getElementById("regno").value = "";
    }
    else if (x.name == "regno") {
      document.getElementById("date").value = "";
    }
  }


  function showDates() {
    getMonth = document.getElementById('stud_month').value;
    mon_pres = present_dates.filter(item => item.startsWith(getMonth))
    mon_abse = absent_dates.filter(item => item.startsWith(getMonth))
    document.getElementById('present_count_con').innerHTML = mon_pres.length
    document.getElementById('present_dates_con').innerHTML = mon_pres.toString()
    document.getElementById('absent_count_con').innerHTML = mon_abse.length
    document.getElementById('absent_dates_con').innerHTML = mon_abse.toString()
  }
</script>

<script>
  $(document).ready(function () {
    $('#stud-pres-table').DataTable();
    $('#stud-abs-table').DataTable();
  });
</script>
{% endblock script_links %}