<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %} Hostel Management System {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <!--Datatables CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!--Roboto-->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap"
    rel="stylesheet">
  <!--Montserrat-->
  {% load static %}
  <link href="{% static 'officials/application.css' %}" rel="stylesheet">
  <link href="{% static 'officials/caretaker-home.css' %}" rel="stylesheet">
  <!--Layout.css-->
  <script src="{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
  <nav class="navbar fixed-top row px-4" id="topnav">
    <div class="col-0 ">
      <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars"
          style="font-size: 4vh;color: aliceblue;"></span></span>
    </div>

    <div class="col-10 d-flex justify-content-center">
      <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img
          src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel
        Management System</span>
      <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img
          src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
    </div>

    <div class="col-0 ">
      <a href="{% url 'officials:profile' %}"><i class="fa fa-user-circle-o"
          style="font-size:4vh; color:aliceblue"></i></a>
    </div>
  </nav>


  <div id="mySidenav" class="sidenav">
    <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
    {% with url_name=request.resolver_match.url_name %}
    <a href="{% url 'officials:official_home' %}" class="{% if url_name == 'official_home' %}active{% endif %}"><span class="mr-3"><i class="fa fa-tachometer"></i></span>Dashboard</a>
    
    {% if request.user.official.is_chief %}
      <a href="{% url 'officials:blockSearch' %}" class="{% if url_name == 'blockSearch' %}active{% endif %}"><span class="mr-3"><i class="fa fa-building"></i></span> Block Layout</a>
      <a href="{% url 'officials:search' %}" class="{% if url_name == 'search' %}active{% endif %}"><span class="mr-3"><i class="fa fa-list"></i></span> Search</a>
      <a href="{% url 'officials:attendance_log' %}" class="{% if url_name == 'attendance_log' %}active{% endif %}"><span class="mr-3"><i class="fa fa-calendar"></i></span> Attendance Log</a>
      <a href="{% url 'officials:register_student' %}" target="_blank"><span class="mr-3"><i class="fa fa-user-circle"></i></span>Add Student</a>
      <a href="{% url 'officials:student_list' %}" class="{% if url_name == 'student_list' %}active{% endif %}"><span class="mr-3"><i class="fa fa-file-text"></i></span> List of Students</a>
      <a href="{% url 'officials:register_official' %}" target="_blank"><span class="mr-3"><i class="fa fa-address-card"></i></span>Add Warden</a>
      <a href="{% url 'officials:emp_list' %}"><span class="mr-3" class="{% if url_name == 'emp_list' %}active{% endif %}"><i class="fa fa-file-text-o"></i></span> List of Employees</a>
      <a href="{% url 'officials:register_worker' %}" target="_blank"><span class="mr-3"><i class="fa fa-address-book"></i></span>Add Worker</a>
      <a href="{% url 'officials:workers_list' %}"><span class="mr-3" class="{% if url_name == 'workers_list' %}active{% endif %}"><i class="fa fa-file-text"></i></span> List of Workers</a>      
    {% else %}
      <a href="{% url 'officials:attendance' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Attendance</a>
      <a href="{% url 'officials:attendance_workers' %}"><span><i class="fa fa-users"></i></span> &nbsp;&nbsp; Attendance-Staff</a>
      <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
      <a href="{% url 'officials:grantOuting' %}"><span><i class="fa fa-map-marker" ></i></span> &nbsp;&nbsp; Outing Requests</a>
    {% endif %}
      

    <a href="{% url 'workers:medical_issue' %}" target="_blank"><span class="mr-3"><i class="fa fa-medkit"></i></span> Medical Issue</a>
    <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span class="mr-3"><i class="fa fa-commenting"></i></span>Register Complaint</a>
    <a href="{% url 'django_auth:logout' %}"><span class="mr-3"><i class="fa fa-sign-out"></i></span>Log Out</a>
  </div>
  {% endwith %}
  
  <div class="container main-container">
    {% block content %}
    {% endblock content %}
  </div>