{% extends 'officials/base_officials.html' %}

{% block title %}Blockwise Layout {% endblock title %}

{% block style_links %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'officials/block_layout.css' %}">
{% endblock style_links %}
  
{% block content %}

<h2 class="text-center">Block Layout</h2>
<hr />
<form method="GET" action="{% url 'officials:blockSearch' %}">
  <div class="row mt-3 mb-3">
    <div class="col d-none d-md-flex justify-content-end">
      <label for="block"><strong> Block :</strong></span>
    </div>
    <div class="col-12 col-md-6 form-group d-flex justify-content-center">
      <select class="form-control w-75" id="block" name="block" required>
        <option value="">Select Block</option>
        {% for item in blocks %}
        <option value="{{item.id}}" {% if item.id == current_block.id %} selected="selected" {% endif %}>{{item.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12 col-md d-flex justify-content-center justify-content-md-start">
      <div>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>


<div class="row text-center">
  <div class="col">
    Block: <strong>{{current_block.name}}</strong>
  </div>
  <div class="col">
    Room Type: <strong> {{current_block.room_type}} </strong>
  </div>
  <div class="col">
    Gender: <strong>{{current_block.gender}}</strong>
  </div>
  <div class="col">
    Caretaker: <strong>{{current_block.caretaker.name}}</strong>
  </div>
  <div class="col">
    Warden: <strong>{{current_block.warden.name}}</strong>
  </div>
</div>
<div class="row text-center mt-3">
  <div class="col ">
    Capacity: <strong>{{current_block.capacity}} rooms - {{current_block.student_capacity}} students</strong>
  </div>
  <div class="col">
    Filled: <strong><span id="filled_room"></span> rooms - {{current_block.roomdetails.count}} students</strong>
  </div>
  <div class="col ">
    Vacant: <strong><span id="vacant_room"></span> rooms</strong>
  </div>
  <div class="col">
    Partially Vacant: <strong><span id="partial_room"></span> rooms</strong>
  </div>
</div>

<div class="row d-flex justify-content-end mr-2 mt-4">
  <span class="mr-2 mt-1">Select Floor: </span>
  <div>
    <select name="floor" id="floor" class="form-control d-inline bg-info text-white" onchange="showFloor()">
      {% for floor in current_block.available_floors %}
        <option value="{{floor}}">{{floor}} Floor</option>
      {% endfor %}
    </select>
  </div>
</div>

{% if current_block|lower == 'tungabhadra hall of residence'  %}
<div>
  {% include 'officials/layouts/Tunga.html' %}
</div>
{% endif %}
{% if current_block|lower == 'krishnaveni hall of residence'  %}
<div>
  {% include 'officials/layouts/Krishnaveni.html' %}
</div>
{% endif %}
{% if current_block|lower == 'munneru hall of residence'  %}
<div>
  {% include 'officials/layouts/Munneru.html' %}
</div>
{% endif %}
{% if current_block|lower == 'bhima hall of residence'  %}
<div>
  {% include 'officials/layouts/Bhima.html' %}
</div>
{% endif %}
{% if current_block|lower == 'ghataprabha hall of residence'  %}
<div>
  {% include 'officials/layouts/Ghata.html' %}
</div>
{% endif %}
{% if current_block|lower == 'indravathi hall of residence'  %}
<div>
  {% include 'officials/layouts/Indravathi.html' %}
</div>
{% endif %}
{% if current_block|lower == 'manjeera hall of residence'  %}
<div>
  {% include 'officials/layouts/Manjeera.html' %}
</div>
{% endif %}
{% if current_block|lower == 'purna hall of residence'  %}
<div>
  {% include 'officials/layouts/Purna.html' %}
</div>
{% endif %}
{% if current_block|lower == 'banganga hall of residence'  %}
<div>
  {% include 'officials/layouts/Banganga.html' %}
</div>
{% endif %}
{% if current_block|lower == 'godavari hall of residence'  %}
<div>
  {% include 'officials/layouts/Godavari.html' %}
</div>
{% endif %}
{% if current_block|lower == 'pranahita hall of residence'  %}
<div>
  {% include 'officials/layouts/Pranahita.html' %}
</div>
{% endif %}
{% if current_block|lower == 'sabari hall of residence'  %}
<div>
  {% include 'officials/layouts/Sabari.html' %}
</div>
{% endif %}



<div class="container-fluid mt-4 d-none" id="table-container">
  <div class="d-flex justify-content-between align-items-center">
    <span></span>
    <h2 id="room" class="text-center"></h2>
    <h5 class="text-danger" onclick="closeRoomTable()"><i class="fa fa-times"></i></h5>
  </div>
  <table class="table table-hover table-muted table-striped">
    <thead>
      <th>Regd No.</th>
      <th>Roll No.</th>
      <th>Name</th>
      <th>Year</th>
      <th>Branch</th>
      <th>Phone</th>
      <th>EMail</th>
      <th>Remove</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

{% endblock content %}

{% block script_links %}

<script>
  var current_block = JSON.parse('{{current_block_json|safe}}')[0];
  var current_block = {id: current_block.pk, ...current_block.fields}
  var room_capacity = parseInt('{{current_block.room_type|slice:"0:1"}}');
  var available_floors = '{{ current_block.available_floors|safeseq|join:"," }}'.split(",");
  var roomdetails = [];
  {% for room in current_block.roomdetail_set.all %}
    roomdetails.push({
      id: parseInt('{{room.id}}'),
      room_no: parseInt('{{room.room_no}}'),
      floor: '{{room.floor}}',
      student: {
        id: parseInt('{{room.student.id}}'),
        regd_no: '{{room.student.regd_no}}',
        roll_no: '{{room.student.roll_no}}',
        name: '{{room.student.name}}',
        year: parseInt('{{room.student.year}}'),
        branch: '{{room.student.branch}}',
        phone: '{{room.student.phone}}',
        email: '{{room.student.email}}',
      }
    });
  {% endfor %}
</script>
{% load static %}
<script src="{% static 'officials/block_layout.js' %}"></script>
{% endblock script_links %}
