{% extends 'officials/base_officials.html' %}

{% block title %}Complaints List{% endblock title %}

{% block content %}

<h1 class="text-center">Complaints List</h1>
<hr />
<div class="row mb-4 px-4 align-items-center">
  <div class="col-md mt-3 text-center">
    Type:
    <select class="ml-2 form-control w-50 d-inline" id="type_select">
      <option value="">Select</option>
    </select>
  </div>
  <div class="col-md mt-3 text-center">
    Status:
    <select class="ml-2 form-control w-50 d-inline" id="status_select">
      <option value="">Select</option>
    </select>
  </div>
  <div class="col-md mt-3 text-center">
    Year:
    <select class="ml-2 form-control w-50 d-inline" id="year_select">
      <option value="">Select</option>
    </select>
  </div>
  <div class="col-md  mt-3 text-center {% if not request.user.official.is_chief %} d-none {% endif %}">
    Block:
    <select class="ml-2 form-control w-50 d-inline" id="block_select">
      <option value="">Select</option>
    </select>
  </div>
</div>
<div class="overflow-auto p-4">
  <table class="table table-hover table-muted table-striped">
    <thead>
      <tr>
        <th>Entity No</th>
        <th>Name</th>
        <th>Year</th>
        <th>Block</th>
        <th>Type</th>
        <th>Summary</th>
        <th>Status</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
      <tr class="text-center" data-row-href="{% url 'complaints:complaint_detail' item.pk %}">
        <td>{{item.entity}}</td>
        <td>{{item.entity.name}}</td>
        <td>{{item.entity.year}}</td>
        <td>{{item.entity.block.short_name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.summary}}</td>
        <td>{{item.status}}</td>
        <td>{{item.updated_at|date:'d-m-Y'}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block script_links %}
    
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('table').DataTable({
      "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000, -1], [10, 25, 50, 100, 250, 500, 1000, "All"]],
      "info": false,
      "dom": '<"row"<"col-3"l><"col"f><"col"p>>t',
      initComplete: function () {
        this.api().columns().every(function () {
          var column = this;
          // Change here to include other columns (index of columns are used)
          let column_header = column.header().innerText.toLowerCase();
          if (column_header == 'type' || column_header == 'status' || column_header == 'year' || column_header == 'block') {
            // Append label (get from header)
            var select = $(`#${column_header}_select`)
              .on('change', function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                // On change search for selected value and re-draw the table.
                column.search(val ? '^' + val + '$' : '', true, false).draw();
              });

            // Get unique values from the column and append to select.
            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>')
            });
          }
        });
      }
    });
  });
</script>
{% endblock script_links %}

<!-- 
  Code to select filter of columns
  "initComplete": function () {
  this.api().columns().every(function () {
    var column = this;
    // Change here to include other columns (index of columns are used)
    if (column.index() == 2 || column.index() == 3 || column.index() == 4 || column.index() == 5) {
      // Create containers for select tags
      var col = $('<div class="col-md"></div>')
      // Append label (get from header)
      col.append(column.header().innerHTML)
      var select = $('<select class="form-control"><option value=""></option></select>')
        .appendTo(col)
        .on('change', function () {
          var val = $.fn.dataTable.util.escapeRegex($(this).val());
          // On change search for selected value and re-draw the table.
          column.search(val ? '^' + val + '$' : '', true, false).draw();
        });
      col.appendTo($('#filters'));

      // Get unique values from the column and append to select.
      column.data().unique().sort().each(function (d, j) {
        select.append('<option value="' + d + '">' + d + '</option>')
      });
    }
  });
}
 -->
