{% extends 'officials/base_officials.html' %}

{% block title %}{{user_details.designation}} Home{% endblock title %}

{% block content %}

{% load static %}
{% block style_link %}
<link href="{% static 'officials/home.css' %}" rel="stylesheet">
{% endblock style_link %}
  
<p style="text-align: center; font-size: large;">
  Hello <b>{{user_details.name}}</b>, <b>{{user_details.designation}}</b> 
  of {% if user_details.is_chief %} NIT Andhra Pradesh {% else %} {{user_details.block.name}}{% endif %}!
</p>

<div class="row">
  <div class="col-md" data-toggle="tooltip" title="Click to get list!">
    <div class="card" id="present" data-toggle="collapse" data-target="#attendance_tables" aria-expanded="false"
      aria-controls="attendance_tables">
      <div class="row">
        <div class="col-8">
          <span class="row atttext">Number of inmates present.</span>
          <span class="row"><span class="attnum">{{present|length}}</span><span
              class="att_date px-4 d-flex align-items-end pb-2" style="color: beige;"></span></span>
        </div>
        <div class="col-4">
          <span class="atticon"><i class="fa fa-user-plus"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md" data-toggle="tooltip" title="Click to get list!">
    <div class="card" id="absent" data-toggle="collapse" data-target="#attendance_tables"
      aria-controls="attendance_tables">
      <div class="row">
        <div class="col-8">
          <span class="row atttext">Number of inmates absent.</span>
          <span class="row"><span class="attnum">{{absent|length}}</span><span
              class="att_date px-4 d-flex align-items-end pb-2" style="color: beige;"></span></span>
          <script>
            var mydate = new Date()
            mydate.setDate(mydate.getDate() - 1);
            var ele = document.getElementsByClassName('att_date');
            for (var i = 0; i < ele.length; i++) {
              ele[i].innerHTML = 'As of ' + mydate.toLocaleDateString("en-IN");
            }
          </script>
        </div>
        <div class="col-4">
          <span class="atticon"><i class="fa fa-user-times"></i></span>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md">
    <div class="card" id="comps">
      <div class="row">
        <div class="col-8">
          <span class="row atttext">Number of complaints received.</span>
          <span class="row attnum">{{complaints|length}}</span>
        </div>
        <div class="col-4">
          <span class="atticon"><i class="fa fa-font-awesome"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container-fluid collapse" id="attendance_tables">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center">List of Absentees</h2>
      <div class="overflow-auto py-4 px-3">
        <table class="table table-hover table-muted table-striped attendance_table">
          <thead>
            <tr>
              <th>Roll No.</th>
              <th>Name</th>
              <th>Year</th>
              <th>Branch</th>
              <th>Block</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>

            {% for stud in absent %}
            <tr>
              <td>{{stud.student.regd_no}}</td>
              <td>{{stud.student.name}}</td>
              <td>{{stud.student.year}}</td>
              <td>{{stud.student.branch}}</td>
              <td>{{stud.student.block.short_name}}</td>
              <td>{{stud.student.roomdetail.room}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">List of Present Students</h2>
      <div class="overflow-auto py-4 px-3">
        <table class="table table-hover table-muted table-striped attendance_table">
          <thead>
            <tr>
              <th>Roll No.</th>
              <th>Name</th>
              <th>Year</th>
              <th>Branch</th>
              <th>Block</th>
              <th>Room</th>
            </tr>
          </thead>
          <tbody>

            {% for stud in present %}
            <tr>
              <td>{{stud.student.regd_no}}</td>
              <td>{{stud.student.name}}</td>
              <td>{{stud.student.year}}</td>
              <td>{{stud.student.branch}}</td>
              <td>{{stud.student.roomdetail.block.short_name}}</td>
              <td>{{stud.student.roomdetail.room}}</td>
            </tr>
            {% empty %}

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h2 style="text-align: center;">Complaints Registered</h2>
<div class="overflow-auto p-4">
  <table class="table table-hover table-muted table-striped " id="complaints_table">
    <thead>
      <tr class="text-center">
        <th class="overflow-hidden">Roll No.</th>
        <th class="overflow-hidden">Type</th>
        <th class="overflow-hidden">Complainee</th>
        <th class="overflow-hidden">Summary</th>
        <th class="overflow-hidden">Last Updated</th>
        <th class="overflow-hidden">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in complaints %}
      <tr class="text-center" data-row-href="{% url 'complaints:complaint_detail' item.pk %}">
        <td>{{item.entity.id}}</td>
        <td>{{item.type}}</td>
        <td>{{item.complainee}}</td>
        <td>{{item.summary}}</td>
        <td>{{item.updated_at|date:'d-m-Y'}}</td>
        <td>{{item.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

{% block script_links %}  
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
$(document).ready(function () {
  $('table.attendance_table').DataTable({
    "pageLength": 6,
    "lengthChange": false,
    "info": false,
    "dom": '<"row"<f"col"><"col"p>>t'
  });
  $('#complaints_table').DataTable({
    "pageLength": 6,
    "lengthChange": false,
  });

  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock script_links %}
  