{% extends 'officials/base_officials.html' %}

{% block title %}Officials List{% endblock title %}

{% block content %}

<div class="text-center">
  <h1 class="text-center">Officials List</h1>
  <a href="{% url 'officials:register_official' %}" class="btn btn-primary">+ Add Official</a>
</div>
<hr>
<div class="overflow-auto p-4">
  <table class="table table-hover table-muted table-striped" id="att-table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Block</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for stud in object_list %}
      <tr>
        <td>{{stud.emp_id}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.designation}}</td>
        <td>{{stud.account_email}}</td>
        <td>{{stud.phone}}</td>
        <td>{{stud.block.short_name}}</td>
        <td nowrap>
          <a href="{% url 'officials:edit_official' stud.id %}" target="_blank" class="btn btn-primary">Edit</a>
          <form action="{% url 'officials:delete_official' stud.id %}" method="POST" class="d-inline"
            onsubmit="return confirm('Are you sure you want to delete {{stud.name}}?');">{% csrf_token %}
            <input type="submit" class="btn btn-danger ml-3" value="Delete" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock content %}


{% block script_links %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('table').DataTable({
      "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000, -1], [10, 25, 50, 100, 250, 500, 1000, "All"]],
      "info": false,
      "dom": '<"row"<"col-3"l><"col"f><"col"p>>t'
    });
  });
</script>
{% endblock script_links %}