<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 {% load static %}
  <link  rel="stylesheet" href ="{%static  'django_auth/signup.css' %}" >
  
</head>

<body>
     <nav class="navbar fixed-top row px-4" id="topnav">
          <div class="col-12 d-flex justify-content-center">
              <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
              <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
          </div>   
     </nav>


     <div class="container my-5 py-5">
          <div class="row justify-content-center">
               <div class="col-12">
                    <div class="card shadow mx-auto">
                         <div class="card-header bg-warning">
                              <h3 class="text-center font-weight-bold mt-2">{{ title }}</h3>
                         </div>
                         {% load crispy_forms_tags %}          
                         <form method="post">
                              {% csrf_token %}
                              <div class="card-body text-capitalize">
                                   <div class="row">
                                        <div class="col-12">
                                             {{ form|crispy }}
                                        </div>
                                   </div>
                              </div>
                              <div class="card-footer">
                                   <div class="row justify-content-center">
                                        <button type="submit" class="btn btn-warning px-4 py-2">Register</button>
                                   </div>
                              </div>
                         </form>
                    </div>
               </div>
          </div>
     </div>
</body>
</html>