<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %}" rel="stylesheet"> <!--Layout.css-->
  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <a href="{% url 'officials:grantOuting' %}" style="cursor: pointer;"><span class="fa fa-reply" style="font-size: 4vh;color: aliceblue;" ></span></a>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        <div class="col-0 ">
        </div>
    </nav>


    <div class="container main-container">
        <p style="text-align: center; font-size: large;">Take at look at the non-local outing history of <b>{{user_details.name}}</b>.</p><br>



        <div class="table-container">
            <h2 style="text-align: center;">Non-Local Outing History</h2> 
            <table class="table table-hover table-muted table-striped" >
                <thead>
                    <tr>
                        <th>Count</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Purpose of Visit</th>
                        <th>Permission</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for outing in outing_details %}
                    <tr>
                        <td>{{ forloop.counter}}</td>
                        <td>{{ outing.fromDate }}</td>
                        <td>{{ outing.toDate }}</td>
                        <td>{{ outing.purpose }}</td>
                        <td>{{ outing.permission }}</td>
    
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>