<!DOCTYPE html>
<html lang="en">
<head>
  <title>Outing Requests - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"><!--Datatables CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %} " rel="stylesheet"> <!--Layout.css-->
  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'officials:profile' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'officials:official_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'officials:attendance' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Attendance</a>
        <a href="{% url 'officials:attendance_workers' %}"><span><i class="fa fa-users"></i></span> &nbsp;&nbsp; Attendance-Staff</a>
        <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
        <a href="{% url 'officials:grantOuting' %}"><span><i class="fa fa-map-marker" ></i></span> &nbsp;&nbsp; Outing Requests</a>
        <!--<a href=""><span><i class="fa fa-tint" ></i></span> &nbsp;&nbsp; Water Can Info</a>-->
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'django_auth:logout' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>
    </div>


    <div class="container main-container">
        <p style="text-align: center; font-size: large;"><b>{{off_details.name}}</b>, take at look at pending outing requests.</p><br>



        <div class="table-container">
            <h2 style="text-align: center;">Non-Local Outing Requests</h2>
            <form method="POST" action=" {% url 'officials:grantOuting' %}">
            {% csrf_token %}

                {% if messages %}
                                   
                {% for message in messages %}
                     <script>
                          alert('{{message}}');
                     </script>
                {% endfor %}
                     
                {% endif %}
                <table class="table table-hover table-muted table-striped" >
                    <thead>
                        <tr>
                            <th>Roll No.</th>
                            <th>Student Name</th>
                            <th>Year</th>
                            <th>Branch</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Purpose of Visit</th>
                            <th>Parent's Mobile</th>
                            <th>View History</th>
                            <th>Allow?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stud in stud_list %}
                            <tr>
                                <td>{{stud.info.regd_no}}</td>
                                <td>{{stud.info.name}}</td>
                                <td>{{stud.info.year}}</td>
                                <td>{{stud.info.branch}}</td>
                                <td>{{stud.outing.fromDate}}</td>
                                <td>{{stud.outing.toDate}}</td>
                                <td>{{stud.outing.purpose}}</td>
                                <td>{{stud.outing.parent_mobile}}</td>
                                <td><button type="submit" value="{{stud.info.regd_no}}" class="btn btn-primary" name="HIS">View History</button></td>
                                <td>
                                    <button type="submit" value="{{stud.outing.id}}" class="btn btn-success" name="GR">Grant</button>
                                    <button type="submit" value="{{stud.outing.id}}" class="btn btn-danger ml-xl-3" name="RE">Reject</button>
                                </td>
                            
                            </tr>

                        {% empty %}

                        {% endfor %}
                </table>
            </form>

        </div>
    </div>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.table-muted').DataTable({
                "dom": '<"row"<"col-3"l><"col"f><"col"p>>'
            });

        } );
    </script>


</body>
</html>