{% extends 'officials/base_officials.html' %}

{% block title %}{{user_details.designation}} Profile - Hostel Management System{% endblock title %}

{% block content %}
<p style="text-align: center; font-size: large;">Hello <b>{{official.name}}</b>!</p>
<div class="container">
  <div class="row py-3 border-bottom border-top" style="background-color: darkgray;">
    <div class="col-12 font-weight-bold text-center">Your Details</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Name</div>
    <div class="col-6">{{official.name}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Staff No.</div>
    <div class="col-6">{{official.emp_id}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Designation</div>
    <div class="col-6">{{official.designation}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Block</div>
    <div class="col-6">{{official.block.name}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Contact Number</div>
    <div class="col-6" id="phone-field">{{official.phone}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Account eMail</div>
    <div class="col-6" id="mail-field">{{official.user.email}}</div>
  </div>
  <div class="row py-3 border-bottom">
    <div class="col-6 font-weight-bold">Personal eMail</div>
    <div class="col-6" id="mail-field">{{official.email}}</div>
  </div>
  <div class="row py-3">
    <div class="col-12 text-center">
      <a href="{% url 'django_auth:change_password' %}"><button class="btn btn-primary">Change Password</button></a>
    </div>
  </div>
</div>

<hr />
<h2 style="text-align: center;">Complaints Registered</h2> <br>
<div class="overflow-auto px-4" id="complaints-wrapper">
  <table class="table table-hover table-muted table-striped" id="abstable">
    <thead>
      <tr>
        <th class="text-center">Type</th>
        <th class="text-center">Complainee</th>
        <th class="text-center">Summary</th>
        <th class="text-center">Date Registered</th>
        <th class="text-center">Last Updated</th>
        <th class="text-center">Status</th>
        <th class="text-center">Remarks</th>
      </tr>
    </thead>
    <tbody>

      {% for item in complaints %}
      <tr>
        <td class="text-center">{{item.type}}</td>
        <td class="text-center">{{item.complainee}}</td>
        <td class="text-center">{{item.summary}}</td>
        <td class="text-center">{{item.created_at|date:'d-m-Y'}}</td>
        <td class="text-center">{{item.updated_at|date:'d-m-Y'}}</td>
        <td class="text-center">{{item.status}}</td>
        <td class="text-center">{{item.remark}}</td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="10" class="text-center"> No complaints registered! </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
{% endblock content %}