<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> <!--Lobster-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 {% load static %}
  <link  rel="stylesheet" href ="{%static  'officials/SingUp1.css' %}" >
  
</head>

<body>
    <nav class="navbar fixed-top" id="topnav">
         <div></div>
          <div class="justify-content-center">
            <span style="color:darkorange; font-family: 'Lobster', cursive;" id="title">Hostel Management System</span>
          </div>
          <div>
          </div>
    </nav>


      <div class="container ">
          <div class="d-flex justify-content-center">
               <div class="card-std">
                    <div class="card-header ">
                         <h3>Hostel Registration Form</h3>
                    </div>
                    <div class="card-body">
                    
                         <form class="form-horizontal" action="{% url 'officials:register' %}" method="POST">
                          {% csrf_token %}
                              
                              {% if messages %}
                                   
                                   {% for message in messages %}
                                        <script>alert('{{message}}');</script>
                                   {% endfor %}
                                        
                              {% endif %}
                                   <div class="row">
                                   <div class="col column-left">
                                   <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Registration No :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        <input type="text" class="form-control" name="regno" value="{{std.regd_no}}" id="regno" placeholder="Registration No" required>
                                   {% else %}
                                        <input type="text" class="form-control" name="regno"  id="regno" placeholder="Registration No" required>
                                   {% endif %}
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Roll No :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        <input type="text" class="form-control" name="rollno" value="{{std.roll_no}}" id="rollno" placeholder="Roll No" required>
                                   {% else %}
                                    <input type="text" class="form-control" name="rollno"  id="rollno" placeholder="Roll No" required>
                                   {% endif %}
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Full Name :</label>
                                   <div class="cols-sm-10">
                                        {% if std %}
                                        <input type="text" class="form-control" name="name"value="{{std.name}}" id="name" placeholder="Full Name" required>
                                        {% else%}
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Full Name" required>
                                        {%endif%}
                                        
                                   </div>
                              </div>
                              
                              <div class=" form-group">
                                   <label  class="cols-sm-2 control-label">Year :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        {% if std.year == 1%}
                                             <select class="form-control w-100" id="comp-type" name="year"  required>
                                             <option value="">Select year</option>
                                             <option value="1" selected>First Year</option>
                                             <option value="2">Second Year</option>
                                             <option value="3">Third Year</option>
                                             <option value="4">Fourth Year</option>
                                             </select>
                                        
                                        {% elif std.year == 2%}
                                             <select class="form-control w-100" id="comp-type" name="year"  required>
                                             <option value="">Select year</option>
                                             <option value="1" >First Year</option>
                                             <option value="2" selected>Second Year</option>
                                             <option value="3">Third Year</option>
                                             <option value="4">Fourth Year</option>
                                             </select>
                                        
                                        {% elif std.year == 3%}     
                                             <select class="form-control w-100" id="comp-type" name="year"  required>
                                             <option value="">Select year</option>
                                             <option value="1" >First Year</option>
                                             <option value="2">Second Year</option>
                                             <option value="3" selected>Third Year</option>
                                             <option value="4">Fourth Year</option>
                                             </select>
                                        {% else %}
                                             <select class="form-control w-100" id="comp-type" name="year"  required>
                                             <option value="">Select year</option>
                                             <option value="1" >First Year</option>
                                             <option value="2">Second Year</option>
                                             <option value="3">Third Year</option>
                                             <option value="4" selected>Fourth Year</option>
                                             </select>
                                        {%endif%}    
                                   {% else %}
                                   <select class="form-control w-100" id="comp-type" name="year"  required>
                                       <option value="">Select year</option>
                                       <option value="1">First Year</option>
                                       <option value="2">Second Year</option>
                                       <option value="3">Third Year</option>
                                       <option value="4">Fourth Year</option>
                                   </select>
                                   {%endif%}
                              </div>
                         </div>
                         <div class=" form-group">
                              <label  class="cols-sm-2 control-label">Branch :</label>
                              <div class="cols-sm-10">
                         {% if std %}
                              {% if std.branch == 'CSE' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE"selected >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% elif std.branch == 'ECE' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE" selected>ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% elif std.branch == 'EEE' %}
                                        <select class="form-control w-100" id="branch" name="branch"  required>
                                             <option value="">Select Branch</option>
                                             <option value="CSE" >CSE</option>
                                             <option value="ECE">ECE</option>
                                             <option value="EEE" selected>EEE</option>
                                             <option value="MECH">MECH</option>
                                             <option value="CHEM">CHEM</option>
                                             <option value="CIVIL">CIVIL</option>
                                             <option value="MME">MME</option>
                                             <option value="BIO">BIO</option>
                                        </select>
                              {% elif std.branch == 'MECH' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH" selected>MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% elif std.branch == 'CHEM' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM" selected>CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% elif std.branch == 'CIVIL' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL" selected>CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% elif std.branch == 'MME' %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME" selected>MME</option>
                                        <option value="BIO">BIO</option>
                                   </select>
                              {% else %}
                                   <select class="form-control w-100" id="branch" name="branch"  required>
                                        <option value="">Select Branch</option>
                                        <option value="CSE" >CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="EEE">EEE</option>
                                        <option value="MECH">MECH</option>
                                        <option value="CHEM">CHEM</option>
                                        <option value="CIVIL">CIVIL</option>
                                        <option value="MME">MME</option>
                                        <option value="BIO" selected>BIO</option>
                                   </select>
                              {% endif %}
                         {% else %}
                              <select class="form-control w-100" id="branch" name="branch"  required>
                              <option value="">Select Branch</option>
                              <option value="CSE" >CSE</option>
                              <option value="ECE">ECE</option>
                              <option value="EEE">EEE</option>
                              <option value="MECH">MECH</option>
                              <option value="CHEM">CHEM</option>
                              <option value="CIVIL">CIVIL</option>
                              <option value="MME">MME</option>
                              <option value="BIO">BIO</option>
                          </select>
                          {% endif %}

                          </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Gender :</label>
                              <div class="cols-sm-10 form-inline">
                                             {% if std%}
                                                  {% if std.gender == 'Male' %}
                                                       <label for="Male">Male</label>
                                                       <input type="radio" class="form-control ml-2" name="type" checked value="Male" required > 
                                                       <label for="Female" class="ml-5">Female</label>
                                                       <input type="radio" class="form-control ml-2" name="type"  value="Female" required >
                                                  {% else %}
                                                       <label for="Male">Male</label>
                                                       <input type="radio" class="form-control ml-2" name="type"  value="Male" required > 
                                                       <label for="Female" class="ml-5">Female</label>
                                                       <input type="radio" class="form-control ml-2" name="type" checked  value="Female" required >
                                                  {% endif %}
                                             {% else %}
                                                  <label for="Male">Male</label>
                                                  <input type="radio" class="form-control ml-2" name="type"  value="Male" required > 
                                                  <label for="Female" class="ml-5">Female</label>
                                                  <input type="radio" class="form-control ml-2" name="type"  value="Female" required >
                                             {% endif %}
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">PWD :</label>
                              <div class="cols-sm-10 form-inline">
                                             {% if std %}
                                                  {% if std.pwd == 'Yes' %}
                                                       <label for="Yes">Yes</label>
                                                       <input type="radio" class="form-control ml-2" name="pwd" checked value="Yes" required > 
                                                       <label for="No" class="ml-5">No</label>
                                                       <input type="radio" class="form-control ml-2" name="pwd"  value="No" required >
                                                  {% else %}
                                                       <label for="Yes">Yes</label>
                                                       <input type="radio" class="form-control ml-2" name="pwd"  value="Yes" required > 
                                                       <label for="No" class="ml-5">No</label>
                                                       <input type="radio" class="form-control ml-2" name="pwd" checked value="No" required >
                                                  {% endif %}
                                             {% else %}

                                             <label for="Yes">Yes</label>
                                             <input type="radio" class="form-control ml-2" name="pwd"  value="Yes" required > 
                                             <label for="No" class="ml-5">No</label>
                                             <input type="radio" class="form-control ml-2" name="pwd"  value="No" required >
                                             {%endif%}
                              </div>
                         </div>

                         
                         <div class=" form-group">
                              <label  class="cols-sm-2 control-label">Category :</label>
                              <div class="cols-sm-10">
                              <select class="form-control w-100" id="caste" name="caste"  required>
                              {% if std %}
                                   {% if std.caste == 'sc'%}
                                        <option value="">Select Category</option>
                                        <option selected value="sc">SC</option>
                                        <option value="st">ST</option>
                                        <option value="obc">OBC</option>
                                        <option value="oc">OC</option>
                                        <option value="ebc">EBC</option>
                                   {% elif std.caste == 'st'%}
                                        <option value="">Select Category</option>
                                        <option  value="sc">SC</option>
                                        <option selected value="st">ST</option>
                                        <option value="obc">OBC</option>
                                        <option value="oc">OC</option>
                                        <option value="ebc">EBC</option>
                                   {% elif std.caste == 'obc'%}
                                        <option value="">Select Category</option>
                                        <option  value="sc">SC</option>
                                        <option  value="st">ST</option>
                                        <option selected value="obc">OBC</option>
                                        <option value="oc">OC</option>
                                        <option value="ebc">EBC</option>
                                   {% elif std.caste == 'oc'%}
                                        <option value="">Select Category</option>
                                        <option  value="sc">SC</option>
                                        <option  value="st">ST</option>
                                        <option  value="obc">OBC</option>
                                        <option selected value="oc">OC</option>
                                        <option value="ebc">EBC</option>
                                   {% else %}
                                        <option value="">Select Category</option>
                                        <option  value="sc">SC</option>
                                        <option  value="st">ST</option>
                                        <option  value="obc">OBC</option>
                                        <option value="oc">OC</option>
                                        <option selected value="ebc">EBC</option>
                                   {%endif%}
                                   {%else%}
                                        <option value="">Select Category</option>
                                        <option value="sc">SC</option>
                                        <option value="st">ST</option>
                                        <option value="obc">OBC</option>
                                        <option value="oc">OC</option>
                                        <option value="ebc">EBC</option>
                                        
                                   {%endif%}
                                   </select>
                         </div>
                     </div>
                     </div>
                     <div class=" col column-left">

                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label"><strong><h5>Personal Details</h5></strong></label>
                                   <div class="cols-sm-10"></div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Date of Birth :</label>
                                   <div class="cols-sm-10">
                                   {%if std.dob %}
                                        <input type="date" name="dob"  value="{{std.dob|date:'Y-m-d'}}" class="form-control d-inline" id="dob" min='1899-01-01' required>
                                   {%else%}
                                        <input type="date" name="dob" class="form-control d-inline" id="dob" min='1995-01-01' required>
                                   {%endif%}
                                        
                                   </div>
                              </div>
     
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Blood Group :</label>
                                   <div class="cols-sm-10">
                                   {%if std%}
                                        <input type="text" class="form-control" value="{{std.bgp}}"name="blood" value placeholder="Blood Group" required>
                                   {% else %}
                                        <input type="text" class="form-control" name="blood" value placeholder="Blood Group" required>  
                                   {%endif%}
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Email ID :</label>
                                   <div class="cols-sm-10">
                                        {%if std%}
                                             <input type="text" class="form-control" value={{std.email_id}} name="email"  placeholder="Email ID" required>
                                        {%else%}
                                             <input type="text" class="form-control" name="email"  placeholder="Email ID" required>
                                        {%endif%}
                                        
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Student Mobile No :</label>
                                   <div class="cols-sm-10">
                                   {% if std%}
                                        <input type="text" class="form-control" name="ph_std" value="{{std.phone}}"pattern="[0-9]{10}"  placeholder="Student Mobile No" required>
                                   {%else%}
                                        <input type="text" class="form-control" name="ph_std" pattern="[0-9]{10}"  placeholder="Student Mobile No" required>
                                   {%endif%}
                                        
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Parent/Gaurdian Mobile No :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        <input type="text" class="form-control" name="ph_p" value="{{std.ph_phone}}"pattern="[0-9]{10}" placeholder="Parent/Gaurdian Mobile No" required>
                                   {% else %}
                                        <input type="text" class="form-control" name="ph_p" pattern="[0-9]{10}" placeholder="Parent/Gaurdian Mobile No" required>
                                   {%endif%}
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Emergency Contact No :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        <input type="text" class="form-control" value="{{std.emr_phone}}" name="ph_emr" pattern="[0-9]{10}" placeholder="Emergency Contact No" required>
                                   {%else%}
                                        <input type="text" class="form-control" name="ph_emr" pattern="[0-9]{10}" placeholder="Emergency Contact No" required>
                                   {%endif%}
                                   </div>
                              </div>
                         
                         
                         
                              <div class="form-group">
                                   <label for ="Details" class="cols-sm-2 control-label">Address :</label>
                                   {% if std %}
                                        <textarea class="form-control" name="address" id="address" rows="4" placeholder="Address"></textarea>
                                        <script>
                                             console.log('{{std.address}}');
                                             document.getElementById('address').value = '{{std.address}}';
                                        </script>
                                   {% else %}
                                        <textarea class="form-control" name="address" id="address1" rows="4" placeholder="Address"></textarea>
                                   {%endif%}
                              </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Upload Your Passport sized Photograph :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        <input type="file" id="myfile" value="{{std.photo}}" name="photo"><br><br>
                                   {%else%}
                                        <input type="file" id="myfile" name="photo"><br><br>
                                   {%endif%}
                                   </div>
                              </div>
                     </div>
                         
                              <div class="col column-right">
                         
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label"><strong><h5>Fee Details</h5></strong></label>
                                   <div class="cols-sm-10"></div>
                              </div>
                              <div class=" form-group">
                                   <label  class="cols-sm-2 control-label">Hosteller /Day Scholar:</label>
                                   <div class="cols-sm-10">
                                   <script>function setEnabled1(){
               let host=document.getElementById('host').value;
               let bank=document.getElementById('bank');
               let other=document.getElementById('other');
               let amount=document.getElementById('amount');
               let ch_no =document.getElementById('ch_no');
               let dop=document.getElementById('dop');
               let appli=document.getElementById('application');
               let under=document.getElementById('undertake');
               let recp=document.getElementById('recipt');
               let afd=document.getElementById('afd');
               if(host === "H")
               {
                    afd.disabled=true;
                    bank.disabled=false;
                    amount.disabled=false;
                    ch_no.disabled=false;
                    dop.disabled=false;
                    appli.disabled=false;
                    under.disabled=false;
                    recp.disabled=false;
               }
               else if(host === 'D'){
                    bank.disabled=true;
                    amount.disabled=true;
                    ch_no.disabled=true;
                    dop.disabled=true;
                    appli.disabled=true;
                    under.disabled=true;
                    recp.disabled=true;
                    afd.disabled=false;
                    
                    
               }
               else{
                    afd.disabled=false;
                    bank.disabled=false;
                    amount.disabled=false;
                    ch_no.disabled=false;
                    dop.disabled=false;
                    appli.disabled=false;
                    under.disabled=false;
                    recp.disabled=false;
               }
          }
          </script>

                                   <select onload="setEnabled1()" class="form-control w-100" id="host" name="hosteller" onchange="setEnabled1()"  required>
                                       {%if std %}
                                        {%if std.hosteller == 'Y' %}
                                             <option value="">Select Option</option>
                                             <option selected value="H">Hosteller</option>
                                             <option value="D">Day Scholar</option>
                                        {% else %}
                                             <option value="">Select Option</option>
                                             <option  value="H">Hosteller</option>
                                             <option selected value="D">Day Scholar</option>
                                        {%endif%}
                                        {%else%}
                                       <option value="">Select Option</option>
                                       <option value="H">Hosteller</option>
                                       <option value="D">Day Scholar</option>
                                       {%endif%}
                                   </select>
                                   <script>setEnabled1();</script>

                                   
                              </div>
                         </div>
                              <div class="form-group">
                                   <label  class="cols-sm-2 control-label">Amount Paid :</label>
                                   <div class="cols-sm-10">
                                   {% if std %}
                                        {% if std.hosteller == 'Y' %}
                                        <input type="text" class="form-control" id="amount" value="{{std.amount}}" name="amount"  placeholder="Amount Paid" required>
                                        {%endif%}
                                   {%else%}
                                             <input type="text" class="form-control" id="amount"  name="amount"  placeholder="Amount Paid" required>
                                        {%endif%}
                                   </div>
                              </div>
                              <div class=" form-group">
                                   <label  class="cols-sm-2 control-label">Bank :</label>
                                   <div class="cols-sm-10">

                                   
                                       {%if std %}
                                             {%if std.hosteller == 'Y' %}
                                                  {%if std.bank == 'sbi' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>   
                                                       <option value="">Select Bank</option>
                                                       <option selected value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'ab' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option selected value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'ub' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option selected value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'bb' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option selected value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'cab' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option selected value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'cib' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option selected value="cib">City Bank</option>
                                                       <option value="o">Others</option>
                                                  {%elif std.bank == 'o' %}
                                                       <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option  value="cib">City Bank</option>
                                                       <option selected value="o">Others</option>
                                                  {%else %}
                                                       <select disabled=true class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                       <option value="">Select Bank</option>
                                                       <option value="sbi">State Bank Of INDIA</option>
                                                       <option value="ab">Andhra Bank</option>
                                                       <option value="ub">Union Bank</option>
                                                       <option value="bb">Bank of Baroda</option>
                                                       <option value="cab">Canara Bank</option>
                                                       <option value="cib">City Bank</option>
                                                       <option  value="o">Others</option>
                                                  {%endif%}
                                             {%endif%}
                                             {%else%}
                                             <select class="form-control w-100" id="bank" name="bank" onchange="setEnabled()"   required>
                                                  <option value="">Select Bank</option>
                                                  <option value="sbi">State Bank Of INDIA</option>
                                                  <option value="ab">Andhra Bank</option>
                                                  <option value="ub">Union Bank</option>
                                                  <option value="bb">Bank of Baroda</option>
                                                  <option value="cab">Canara Bank</option>
                                                  <option value="cib">City Bank</option>
                                                  <option value="o">Others</option>
                                             {%endif%}


                                       
                                   </select>

                                   
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">If others type in the bank name :</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.bank == 'o' %}
                                        <input type="text" class="form-control" value="{{std.bank}}"name="other" id="other" disabled="true"  placeholder=" Type in the bank name" required>
                                   {%else%}
                                        <input type="text" disabled=true class="form-control" name="other" id="other" disabled="true"  placeholder=" Type in the bank name" required>
                                   {%endif%}
                              {%else%}
                                   <input type="text" class="form-control" name="other" id="other" disabled="true"  placeholder=" Type in the bank name" required>
                              {%endif%}
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Challan No/Transaction ID :</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.hosteller == 'Y' %}
                                        <input type="text" class="form-control"value="{{std.ch_no}}" id="ch_no" name="ch_no"  placeholder="Challan No/Transaction ID" required>
                                   {%else%}
                                        <input type="text" disabled=true class="form-control" id="ch_no" name="ch_no"  placeholder="Challan No/Transaction ID" required>
                                   {%endif%}
                              {%else%}
                                   <input type="text" class="form-control" id="ch_no" name="ch_no"  placeholder="Challan No/Transaction ID" required>
                              {%endif%}
                                   
                              </div>
                         </div>

                         
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Date of Payment :</label>
                              <div class="cols-sm-10">
                              {%if std %}
                                   {%if std.hosteller == 'Y'%}
                                   <input type="date" class="form-control"  value="{{std.dop}}"name="dop" id="dop" min='2020-01-01' required>
                                   {%else%}
                                   <input type="date" disabled=true class="form-control" name="dop" id="dop" min='2020-01-01' required>
                                   {%endif%}
                              {%else%}
                                   <input type="date" class="form-control" name="dop" id="dop" min='2020-01-01' required>
                              {%endif%}
                                   
                              </div>
                         </div>

                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Hostel Application Form (Signed by Parent)  :</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.hosteller == 'Y'%}
                                   <input type="file" id="application" name="application">
                                   {%else%}
                                   <input disabled=true type="file" id="application" name="application">
                                   {%endif%}
                              {%else%}
                                   <input type="file" id="application" name="application">
                              {%endif%}
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Hostel Undertaking Form(Signed by Parent):</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.hosteller == 'Y' %}
                                        <input type="file" id="undertake" name="undertake">
                                   {%else%}
                                        <input type="file" disabled=true id="undertake" name="undertake">
                                   {%endif%}
                              {%else%}
                              <input type="file" id="undertake" name="undertake">
                              {%endif%}
                                   
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Hostel Fee Reciept :</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.hosteller == 'Y' %}
                                   <input type="file" id="recipt" name="recipt">
                                   {%else%}
                                   <input type="file" disabled=true id="recipt" name="recipt">
                                   {%endif%}
                              {%else%}
                                   <input type="file" id="recipt" name="recipt">
                              {%endif%}

                                   
                              </div>
                         </div>
                         <div class="form-group">
                              <label  class="cols-sm-2 control-label">Affidavit for Day Scholars :</label>
                              <div class="cols-sm-10">
                              {%if std%}
                                   {%if std.hosteller == 'Y'%}
                                   <input type="file" disabled=true  id="afd"  name="afd">
                                   {%else%}
                                        <input type="file"   id="afd"  name="afd">
                                   {%endif%}
                              {%else%}
                              <input type="file"   id="afd"  name="afd">
                         {%endif%}

                                   
                              </div>
                         </div>
                         </div>
                         </div>




                              
                              <div class="form-group row align-items-center sign-btn ml-2">
                                   <input type="submit" id="submit" name="submit" value="submit" class="btn float-right sign_btn" >
                                   <span class ="btn-space"></span>
                          
                              </div>
                         </form>
                              <div class="row justify-content-center">
                                   <a href="{% url 'officials:register' %}"><button class="btn float-right sign_btn">Cancel</button></a>
                              </div>
                              
                    </div>
                       
               </div>
          </div>     
      </div>



      <script>

       window.onload=function(){
            setEnabled1();
       }

          function setEnabled(){
               let bank=document.getElementById('bank').value;
               let other=document.getElementById('other');
               if(bank === "o")
               {
                    other.disabled=false;
               }
               else{
                    other.disabled=true;
               }
          }
          function setEnabled1(){
               let host=document.getElementById('host').value;
               let bank=document.getElementById('bank');
               let other=document.getElementById('other');
               let amount=document.getElementById('amount');
               let ch_no =document.getElementById('ch_no');
               let dop=document.getElementById('dop');
               let appli=document.getElementById('application');
               let under=document.getElementById('undertake');
               let recp=document.getElementById('recipt');
               let afd=document.getElementById('afd');

               if(host === "H")
               {
                    afd.disabled=true;
                    bank.disabled=false;
                    amount.disabled=false;
                    ch_no.disabled=false;
                    dop.disabled=false;
                    appli.disabled=false;
                    under.disabled=false;
                    recp.disabled=false;
               }
               else if(host === 'D'){
                    bank.disabled=true;
                    amount.disabled=true;
                    ch_no.disabled=true;
                    dop.disabled=true;
                    appli.disabled=true;
                    under.disabled=true;
                    recp.disabled=true;
                    afd.disabled=false;
                    
                    
               }
               else{
                    afd.disabled=false;
                    bank.disabled=false;
                    amount.disabled=false;
                    ch_no.disabled=false;
                    dop.disabled=false;
                    appli.disabled=false;
                    under.disabled=false;
                    recp.disabled=false;
               }
          }
     
      </script>


</body>
</html>