<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blockwise Layout - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/roomLayout.css' %}" rel="stylesheet"> <!--attendance.css-->
  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'officials:chiefsProfile' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
</nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'officials:official_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'officials:blockSearch' %}"><span><i class="fa fa-building"></i></span> &nbsp;&nbsp; Block Layout</a>
        <a href="{% url 'officials:search' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Search</a>
        <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
        <a href="{% url 'officials:register_student' %}" target="_blank"><span><i class="fa fa-user-circle"></i></span> &nbsp;&nbsp;Add Student</a>
        <a href="{% url 'officials:student_list' %}"><span><i class="fa fa-file-text"></i></span> &nbsp;&nbsp;List of Students</a>
        <a href="{% url 'officials:register_official' %}" target="_blank"><span><i class="fa fa-address-card"></i></span> &nbsp;&nbsp; Add Warden</a>
        <a href="{% url 'officials:emp_list' %}"><span><i class="fa fa-file-text-o"></i></span> &nbsp;&nbsp; List of Employees</a>
        <a href="{% url 'officials:register_worker' %}" target="_blank"><span><i class="fa fa-address-book"></i></span> &nbsp;&nbsp; Add Worker</a>
        <a href="{% url 'officials:workers_list' %}"><span><i class="fa fa-file-text"></i></span> &nbsp;&nbsp; List of Workers</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'django_auth:logout' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>
    </div>


    <div class="container-fluid main-container">

        <h2 class="text-center">Block Layout</h2>

        <form method="POST" action="{% url 'officials:blockSearch' %}">
            <div class="row mt-3 mb-3">
                <div class="col d-flex justify-content-end">
                    <label for="block"><strong> Block :</strong></span>
                </div>
                <div class="col form-group d-flex justify-content-center">
                    <select class="form-control w-50" id="block" name="block" required>
                        <option value="">Select Block</option>
                        {% for block in send_blocks %}
                        <option value="{{block.block_id}}">{{block.block_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col d-flex-inline justify-content-start">
                    <input type="submit" name="submit" class="btn btn-primary" style="transition: 0.5s;"/>
                </div>
            </div>        
        </form>
        

        <div class="row text-center">
            <div class="col">
                Block: <strong>{{block_name}}</strong>
            </div>
            <div class="col">
                Room Type: <strong> {{room_type}} </strong>
            </div>
            <div class="col">
                Gender: <strong>{{block_gender}}</strong>
            </div>
            <div class="col">
                Caretaker: <strong>{{block_care}}</strong>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col ">
                Capacity: <strong>{{cap_room}} rooms - {{cap_stud}} students</strong>
            </div>
            <div class="col">
                Filled: <strong><span id="filled_room"></span> rooms - {{pres_stud}} students</strong>                
            </div>
            <div class="col ">
                Vacant: <strong><span id="vacant_room"></span> rooms</strong>
            </div>
            <div class="col">
                Partially Vacant: <strong><span id="partial_room"></span> rooms</strong>
            </div>
        </div>

        <div class="row d-flex justify-content-end mr-2 mt-4">
            <span class="mr-2 mt-1">Select Floor: </span>
            <div>
                <select name="floor" id="floor" class="form-control d-inline bg-info text-white" onchange="showFloor()">
                    <option value="ground">Ground Floor</option>
                    <option value="first">First Floor</option>
                    <option value="second">Second Floor</option>
                </select>
            </div>
        </div>

        {% if messages %}
                                   
        {% for message in messages %}
             <script>
                  alert('{{message}}');
             </script>
        {% endfor %}
             
        {% endif %}
        
        {% if block_name|lower == 'tungabhadra hall of residence'  %}
            <div>
                {% include 'officials/Tunga.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'krishnaveni hall of residence'  %}
            <div>
                {% include 'officials/Krishnaveni.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'munneru hall of residence'  %}
            <div>
                {% include 'officials/Munneru.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'bhima hall of residence'  %}
            <div>
                {% include 'officials/Bhima.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'ghataprabha hall of residence'  %}
            <div>
                {% include 'officials/Ghata.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'indravathi hall of residence'  %}
            <div>
                {% include 'officials/Indravathi.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'manjeera hall of residence'  %}
            <div>
                {% include 'officials/Manjeera.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'purna hall of residence'  %}
            <div>
                {% include 'officials/Purna.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'banganga hall of residence'  %}
            <div>
                {% include 'officials/Banganga.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'godavari hall of residence'  %}
            <div>
                {% include 'officials/Godavari.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'pranahita hall of residence'  %}
            <div>
                {% include 'officials/Pranahita.html' %}
            </div>
        {% endif %}
        {% if block_name|lower == 'sabari hall of residence'  %}
            <div>
                {% include 'officials/Sabari.html' %}
            </div>
        {% endif %}
    
        
        
        <div class="container-fluid mt-4 d-none" id="table-con">
            <form method="POST" action="{% url 'officials:blockSearch' %}">
            <table class="table table-hover table-muted table-striped">
                <thead>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Branch</th>
                    <th>Phone</th>
                    <th>Room No.</th>
                    <th>In Campus?</th>
                    <th>Allot Room to <br><small>(Enter 'None' to remove student from room)</small></th>
                </thead>
                <tbody id="table_list">
                </tbody>
            </table>
            </form>
        </div>


        

    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();

            var filled_count = 0;
            var partial_count = 0;
            var vacant_count = 0;

            $('.room-card').each(function(){
                room = this.innerHTML;
                floor = room[0];
                no = parseInt(room.slice(2));

                if(floor == 'G'){
                    floor = 'Ground';
                }else if(floor == 'F'){
                    floor = 'First';
                }else if(floor == 'S'){
                    floor = 'Second';
                }

                let count = 0;

                {% for item in items_list %}               

                    if( (floor == '{{item.block_details.floor}}') && (no == '{{item.block_details.room_no}}') ){
                        count += 1;
                    }
                
                {% endfor %}
                
                if(count == parseInt('{{room_type|slice:"0:1"}}')){
                    filled_count += 1;

                }else if(0<count && count<parseInt('{{room_type|slice:"0:1"}}')){
                    $(this).addClass("partial");
                    partial_count += 1;
                    
                }else if(count == 0){
                    $(this).addClass('vacant');
                    vacant_count += 1;
                }
            });

            document.getElementById('filled_room').innerHTML = filled_count;
            document.getElementById('partial_room').innerHTML = partial_count;
            document.getElementById('vacant_room').innerHTML = vacant_count;
        });
    </script>



    <script>

        function showFloor(){
            
            let floor = document.getElementById("floor").value;

            if(floor == "ground"){
                document.getElementById("ground-con").style.display = "block";
                document.getElementById("first-con").style.display = "none";
                document.getElementById("second-con").style.display = "none";
            }
            else if(floor == "first"){
                document.getElementById("ground-con").style.display = "none";
                document.getElementById("first-con").style.display = "block";
                document.getElementById("second-con").style.display = "none";
            }
            else if(floor == "second"){
                document.getElementById("ground-con").style.display = "none";
                document.getElementById("first-con").style.display = "none";
                document.getElementById("second-con").style.display = "block";
            }
        }
        
        function showRoll(x) {

            room = x.innerHTML;
            floor = room[0];
            no = parseInt(room.slice(2));

            if(floor == 'G'){
                floor = 'Ground';
            }else if(floor == 'F'){
                floor = 'First';
            }else if(floor == 'S'){
                floor = 'Second';
            }

            let roll = "";

            {% for item in items_list %}               
                
                if( (floor == '{{item.block_details.floor}}') && (no == '{{item.block_details.room_no}}') ){
                    roll += '{{item.stud.regd_no}},  ';
                }
    
            {% endfor %}

            if(roll){
                $('[data-toggle="tooltip"]').attr('title', roll).tooltip('_fixTitle').tooltip('enable');
                
            }else{
                $('[data-toggle="tooltip"]').tooltip('disable');
                
            }
        
        }

        function showDetails(x) {
            table = document.getElementById("table-con");

            placeDetails(x);
            
            if(table.classList.contains('d-none')) {
                table.classList.add('d-block');
                table.classList.remove('d-none');
            }
            else if(table.classList.contains('d-block')){
                table.classList.add('d-none');
                table.classList.remove('d-block');
            }

            document.getElementById("table_list").scrollIntoView();
            
            
        }

        function placeDetails(x){

            room = x.innerHTML;
            floor = room[0];
            no = parseInt(room.slice(2));

            if(floor == 'G'){
                floor = 'Ground';
            }else if(floor == 'F'){
                floor = 'First';
            }else if(floor == 'S'){
                floor = 'Second';
            }

            $('tbody').empty();

            let count = 0;
            {% for item in items_list %}  

                if( (floor == '{{item.block_details.floor}}') && (no == '{{item.block_details.room_no}}') ){
                    const template = document.createElement('template');
                    template.innerHTML = "<tr><td>{{item.stud.regd_no}}</td><td>{{item.stud.name}}</td><td>{{item.stud.year}}</td><td>{{item.stud.branch}}</td><td>{{item.stud.phone}}</td><td>{{item.block_details.floor|slice:'0:1'}}-{{item.block_details.room_no}}</td><td>{{item.isPresent}}</td><td><input type='text' name='{{item.stud.regd_no}}'/><input type='hidden' name='block' value='{{block_name}}' /></td></tr>";
                    document.getElementById('table_list').appendChild(template.content.firstElementChild);
                    count++;
                }
    
            {% endfor %}

                if(count < parseInt('{{room_type|slice:"0:1"}}')){
                    const template = document.createElement('template');
                    template.innerHTML ="<tr ><td colspan='10' class='text-center'>Add Student to room :<input type='text' name='roll' class='ml-4'> <input type='hidden' name='room' value='{{block_id}}-"+floor+"-"+no+"'><input type='submit' name='Add' value='Add' class='btn btn-primary ml-5'></td></tr>";
                    document.getElementById('table_list').appendChild(template.content.firstElementChild);

                }

                if(count > 0){
                    const template = document.createElement('template');
                    template.innerHTML = "<tr><td colspan='10' class='text-center'><input type='submit' name='change' value='Change Rooms' class='btn btn-warning' /></td></tr>";
                    document.getElementById('table_list').appendChild(template.content.firstElementChild);
                }

        }

    </script>

</body>
</html>