<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> <!--Lobster-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  <link href="search.css" rel="stylesheet"> <!--Layout.css-->
  <script src = "search.js"></script>

</head>

<body>
    <nav class="navbar fixed-top" id="topnav">
        <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        <div class="justify-content-center">
            <span style="color:darkorange; font-family: 'Lobster', cursive;" id="title">Hostel Management System</span>
        </div>

        <div>
            <span><i class="fa fa-user-circle-o" style="font-size:4vh;color:aliceblue"></i></span>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="chiefs-home.html"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="#"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Attendance</a>
        <a href="#"><span><i class="fa fa-map-marker" ></i></span> &nbsp;&nbsp; Outing Requests</a>
        <a href="#"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="#"><span><i class="fa fa-pencil-square-o"></i></span> &nbsp;&nbsp; Edit Profile</a>
    </div>
    
    <div class="container main-container">
        <h2 class="text-center">Search Student</h2>
        
        <form>

            <div class="row text-center">
                <div class="col">Registration No.: <input type="checkbox" class="checkBox ml-3" id="regCheck" onclick="setEnabled()"></div>
                <div class="col">Year: <input type="checkbox" class="checkBox ml-3 " id="yearCheck" onclick="setEnabled()"></div>
                <div class="col">Branch: <input type="checkbox" class="checkBox ml-3" id="branchCheck" onclick="setEnabled()"></div>
                <div class="col">Block: <input type="checkbox" class="checkBox ml-3" id="blockCheck" onclick="setEnabled()"></div>
            </div>
            
            <div class="row mt-4">
                <div class="col-sm-6 text-right pr-5">
                    <label for="regno"><strong>Registration No. :</strong></span>
                </div>
                <div class="col-sm-6 form-group">
                    <input type="text" id="regno" class="form-control w-50" placeholder="Enter Registration No." disabled required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right pr-5">
                    <label for="year"><strong> Year :</strong></span>
                </div>
                <div class="col-sm-6 form-group">
                    <select class="form-control w-50" id="year" disabled required>
                        <option value="">Select Year</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right pr-5">
                    <label for="branch"><strong> Branch :</strong></span>
                </div>
                <div class="col-sm-6 form-group">
                    <select class="form-control w-50" id="branch" disabled required>
                        <option value="">Select Branch</option>
                        <option value="CSE">Computer Science Engineering</option>
                        <option value="ECE">Electronic and Communication Engineering</option>
                        <option value="EEE">Electrical and Electronic Engineering</option>
                        <option value="CHE">Chemical Engineering</option>
                        <option value="MME">Metalurgy Engineering</option>
                        <option value="MEC">Mechanical Engineering</option>
                        <option value="CIV">Civil Engineering</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right pr-5">
                    <label for="block"><strong> Blcok :</strong></span>
                </div>
                <div class="col-sm-6 form-group">
                    <select class="form-control w-50" id="block" disabled required>
                        <option value="">Select Block</option>
                        <option value="CSE">Computer Science Engineering</option>
                        <option value="ECE">Electronic and Communication Engineering</option>
                        <option value="EEE">Electrical and Electronic Engineering</option>
                        <option value="CHE">Chemical Engineering</option>
                        <option value="MME">Metalurgy Engineering</option>
                        <option value="MEC">Mechanical Engineering</option>
                        <option value="CIV">Civil Engineering</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <input type="submit" class="btn btn-primary" style="transition: 0.5s;"/>
                </div>
            </div>
        </form>
    </div>


</body>
</html>