<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"><!--Datatables CSS-->
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %}" rel="stylesheet"> <!--Layout.css-->
  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT Andhra Pradesh - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'officials:chiefsProfile' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'officials:official_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'officials:blockSearch' %}"><span><i class="fa fa-building"></i></span> &nbsp;&nbsp; Block Layout</a>
        <a href="{% url 'officials:search' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Search</a>
        <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
        <a href="{% url 'officials:register_student' %}" target="_blank"><span><i class="fa fa-user-circle"></i></span> &nbsp;&nbsp;Add Student</a>
        <a href="{% url 'officials:student_list' %}"><span><i class="fa fa-file-text"></i></span> &nbsp;&nbsp;List of Students</a>
        <a href="{% url 'officials:register_official' %}" target="_blank"><span><i class="fa fa-address-card"></i></span> &nbsp;&nbsp; Add Warden</a>
        <a href="{% url 'officials:emp_list' %}"><span><i class="fa fa-file-text-o"></i></span> &nbsp;&nbsp; List of Employees</a>
        <a href="{% url 'officials:register_worker' %}" target="_blank"><span><i class="fa fa-address-book"></i></span> &nbsp;&nbsp; Add Worker</a>
        <a href="{% url 'officials:workers_list' %}"><span><i class="fa fa-file-text"></i></span> &nbsp;&nbsp; List of Workers</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'django_auth:logout' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>
    </div>


    
    <div class="container main-container">
        <h2 class="text-center">Search Student</h2>
        
        <form method="POST" action="{% url 'officials:search' %}">

            <div class="row text-center">
                <div class="col">Roll No.: <input type="radio" name="search_by" value="rollno" class="ml-3" id="regCheck" onclick="setEnabled()"></div>
                <div class="col">Block: <input type="radio" name="search_by" value="block" class="ml-3" id="blockCheck" onclick="setEnabled()"></div>
            </div>
            
            <div class="row mt-4">
                <div class="col-md-3 text-md-right">
                    <label for="regno"><strong>Roll No. :</strong></span>
                </div>
                <div class="col-md-3 form-group">
                    <input type="text" id="regno" name="regno" class="form-control " placeholder="Enter Registration No." disabled required/>
                </div>
                <div class="col-md-2 text-md-right">
                    <label for="block"><strong> Block :</strong></span>
                </div>
                <div class="col-md-3 form-group ">
                    <select class="form-control " id="block" name="block" disabled required>
                        <option value="">Select Block</option>
                        {% for block in send_blocks %}
                        <option value="{{block.block_id}}">{{block.block_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <input type="submit" class="btn btn-primary" style="transition: 0.5s;"/>
                </div>
            </div>
        </form>
<br><br>
        
        <div class="table-container container">
            <table class="table table-hover table-muted table-striped">
                <thead>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Branch</th>
                    <th>Phone</th>
                    <th>Block</th>
                    <th>Room No.</th>
                    <th>In Campus?</th>
                </thead>
                <tbody>
                    {% for item in items_list %}
                    <tr>
                        <td>{{item.stud.regd_no}}</td>
                        <td>{{item.stud.name}}</td>
                        <td>{{item.stud.year}}</td>
                        <td>{{item.stud.branch}}</td>
                        <td>{{item.stud.phone}}</td>
                        <td>{{item.block_name}}</td>
                        <td>{{item.block_details.floor|slice:"0:1"}}-{{item.block_details.room_no}}</td>
                        <td>{{item.isPresent}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('table').DataTable({
                
            });
        } );

    function setEnabled() {
    
        let regno = document.getElementById("regno") ;
        let block = document.getElementById("block");

        if(document.getElementById('regCheck').checked == true){
            regno.disabled = false;
            block.value = "";
        }else{
            regno.disabled = true;
        }

        if(document.getElementById('blockCheck').checked == true){
            block.disabled = false;
            regno.value = "";
        }else{
            block.disabled= true;
        }

    }
    </script>

</body>
</html>