{% extends 'officials/base_officials.html' %}

{% block title %}Student List{% endblock title %}

{% block content %}

<h1 class="text-center">Students List</h1>
<hr />
<div id="filters" class="row mb-4 px-4 align-items-center">
  <span class="col-md"></span>
  <span class="col-md"></span>
  Year:<span class="col-md"></span>
  Branch:<span class="col-md"></span>
  Gender:<span class="col-md"></span>
  Block:<span class="col-md"></span>
  <span class="col-md"></span>
  <span class="col-md"></span>
  <span class="col-md"></span>

</div>
<div class="overflow-auto p-4">
  <table class="table table-hover table-muted table-striped" id="att-table">
    <thead>
      <tr>
        <th>Regd No</th>
        <th>Name</th>
        <th>Year</th>
        <th>Branch</th>
        <th>Gender</th>
        <th>Block</th>
        <th>Room No</th>
        <th>Phone Number</th>
        {% if request.user.official.is_chief %}
        <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for stud in object_list %}
      <tr>
        <td>{{stud.regd_no}}</td>
        <td>{{stud.name}}</td>
        <td>{{stud.year}}</td>
        <td>{{stud.branch}}</td>
        <td>{{stud.gender}}</td>
        <td>{{stud.roomdetail.block.short_name}}</td>
        <td>{{stud.roomdetail.room}}</td>
        <td>{{stud.phone}}</td>
        {% if request.user.official.is_chief %}
        <td class="d-flex">
          <a href="{% url 'officials:edit_student' stud.id %}" target="_blank" class="btn btn-primary px-3">Edit</a>
          <form action="{% url 'officials:delete_student' stud.id %}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete {{stud.name}}?');">{% csrf_token %}
            <input type="submit" class="btn btn-danger ml-3" value="Delete" />
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block script_links %}
    
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $('table').DataTable({
      "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000, -1], [10, 25, 50, 100, 250, 500, 1000, "All"]],
      "info": false,
      "dom": '<"row"<"col-3"l><"col"f><"col"p>>t',
      initComplete: function () {
        this.api().columns().every(function () {
          var column = this;
          if (column.index() == 2 || column.index() == 3 || column.index() == 4 || column.index() == 5) {
            var select = $('<select class="form-control"><option value=""></option></select>')
              .appendTo($("#filters").find("span").eq(column.index()))
              .on('change', function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                column.search(val ? '^' + val + '$' : '', true, false).draw();
              });

            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>')
            });
          }
        });
      }
    });
  });
</script>
{% endblock script_links %}
