<!DOCTYPE html>
<html lang="en">
<head>
  <title>Water Can Info - Hostel Management System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> <!--Roboto-->
  {% load static %}
  <link href="{% static 'officials/caretaker-home.css' %} " rel="stylesheet"> <!--attendance.css-->

  <script src = "{% static 'officials/sidenav.js' %}"></script>

</head>

<body>
    <nav class="navbar fixed-top row px-4" id="topnav">
        <div class="col-0 ">
            <span style="cursor: pointer;" onclick="openNav()"><span class="fa fa-bars" style="font-size: 4vh;color: aliceblue;" ></span></span>
        </div>

        <div class="col-10 d-flex justify-content-center">
            <span class="d-none d-md-block " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-3">NIT AP - Hostel Management System</span>
            <span class="d-block d-md-none " style="color:darkorange; font-family: 'Bree Serif', serif;" id="title"><img src="{% static 'officials/logo_small.png' %}" alt="Institute Logo" class="mr-2">NIT AP - Hostels</span>
        </div>
        
        <div class="col-0 ">
            <a href="{% url 'officials:profile' %}"><i class="fa fa-user-circle-o" style="font-size:4vh; color:aliceblue"></i></a>
        </div>
    </nav>


    <div id="mySidenav" class="sidenav">
        <a style="cursor: pointer;" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'officials:official_home' %}"><span><i class="fa fa-tachometer"></i></span> &nbsp;&nbsp; Dashboard</a>
        <a href="{% url 'officials:attendance' %}"><span><i class="fa fa-list"></i></span> &nbsp;&nbsp; Attendance</a>
        <a href="{% url 'officials:attendance_workers' %}"><span><i class="fa fa-users"></i></span> &nbsp;&nbsp; Attendance-Staff</a>
        <a href="{% url 'officials:attendance_log' %}"><span><i class="fa fa-calendar"></i></span> &nbsp;&nbsp; Attendance Log</a>
        <a href="{% url 'officials:grantOuting' %}"><span><i class="fa fa-map-marker" ></i></span> &nbsp;&nbsp; Outing Requests</a>
        <a href="{% url 'officials:watercan' %}"><span><i class="fa fa-tint" ></i></span> &nbsp;&nbsp; Water Can Info</a>
        <a href="{% url 'workers:medical_issue' %}" target="_blank"><span><i class="fa fa-medkit" ></i></span> &nbsp;&nbsp; Medical Issue</a>
        <a href="{% url 'complaints:registerComplaint' %}" target="_blank"><span><i class="fa fa-commenting"></i></span> &nbsp;&nbsp; Register Complaint</a>
        <a href="{% url 'institute:index' %}"><span><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp; Log Out</a>
    </div>


    <div class="main-container container" style="border: 1.5px solid #a1a1a1; border-radius: 15px; padding: 10px;">

        <div class="table1-container" style="padding: 20px; ">

            <h1 style="text-align: center;" class="mb-5">Water Can Information</h1>
                {% csrf_token %}

                {% if messages %}
                                   
                {% for message in messages %}
                     <script>
                          alert('{{message}}');
                     </script>
                {% endfor %}
                     
                {% endif %}
                <div class="container bg-transparent">
                    <h4 class="mb-3">New Water Cans Information:</h4>
                <form action="{% url 'officials:watercan' %}" method="post">
                    <div class="row text-center overflow-auto">
                        <div class="col-md-3 form-group ">
                            <label for="date" class="ml-2  mr-2">Date:</label>
                            <input type="date" name="date" id="date" class="d-inline" required>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="received" class="ml-2 mr-2  ">Count Received:</label>
                            <input type="number" name="received" id="received" min="0" required style="width: 50px;"> 
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="given" class="ml-2  mr-2">Count Given:</label>
                            <input type="number" name="given" id="given"   min="0" required style="width: 50px;"> 
                        </div>
                        <div class="col-md-3 text-center">
                            <input type="submit" class="btn btn-success" name="submit_btn">
                        </div>                        
                    </div>
                </form>
                    <h4 class=" mt-4 py-3 border-top border-dark">Water Cans History:</h4>
                <form action="{% url 'officials:watercan' %}" method="post">
                    <div class="row text-center ">
                        <div class="col form-group">
                            <label for="date_hist" class="ml-5  mr-2">Date:</label>
                            <input type="date" name="date_hist" id="date_hist" class="d-inline" onclick="setEnabled(this)">
                        </div>
                        <div class="col form-group">
                            <label for="month_hist" class="ml-5 mr-2">Month:</label>
                            <input type="month" name="month_hist" id="month_hist" class="d-inline" onclick="setEnabled(this)">
                        </div>
                        <div class="col ">
                            <input type="submit" class="btn btn-primary" value="Get Count" name="count_btn">
                        </div> 
                    </div>          
                </form>

                    
                    {% if dateRec %}
                        
                    <div class="row text-center mt-3">
                        {% if dateRec != -10 %}
                            <div class=" col alert alert-primary" role="alert">
                                Cans received on given date: <strong class="text-danger">{{dateRec}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                Cans returned on given date: <strong class="text-danger">{{dateGiven}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                Cans Used on given date: <strong class="text-danger">{{dateUsed}}</strong> 
                            </div>
                        {% else %}
                            <div class=" col alert alert-danger" role="alert">
                                No Cans received/given on given date!
                            </div>
                        {% endif %}
                    </div>   
                    
                    {% endif %}

                    
                    {% if month %}
                        {% if month_empty == False %}

                        <div class="mt-4 text-center">
                            <h3>Monthly Water Can Usage for the month of {{month}}</h3>
                            <div class="row font-weight-bolder mt-3">
                                <div class="col">
                                    Water Cans Received : {{month_rec}}
                                </div>
                                <div class="col">
                                    Water Cans Given : {{month_given}}
                                </div>                            <div class="col">
                                    Water Cans Used : {{month_used}}
                                </div>
                            </div>
                            <table class="table table-dark table-striped table-hover mt-3">
                                <thead>
                                    <th>Sl No.</th>
                                    <th>Date</th>
                                    <th>Received</th>
                                    <th>Given</th>
                                    <th>Used</th>
                                </thead>
                                <tbody>

                                    {% for item in month_set %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{item.date}}</td>
                                            <td>{{item.received}}</td>
                                            <td>{{item.given}}</td>
                                            <td id="u{{forloop.counter}}">
                                                <script>document.getElementById("u{{forloop.counter}}").innerHTML = parseInt('{{item.received}}') - parseInt('{{item.given}}') </script>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <div class=" col alert alert-danger text-center mt-3" role="alert">
                                No Cans received/given on given month!
                            </div>
                        {% endif %}
                    {% endif %}
                        

                        
                        
                    
                </div>

        </div>



    </div>


    <script>
        function setEnabled(x) {
            if(x.name == "date_hist"){
                document.getElementById("month_hist").value="";
            }
            else if(x.name == "month_hist"){
                document.getElementById("date_hist").value="";
            }
        }
    </script>

</body>
</html>


